<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Title</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="container">
        <div class="row">
          <div class="card border-info mb-3" style="max-width: 18rem">
            <div class="card-body text-info">
              <h5 class="card-title">Success card title</h5>
              <p class="card-text">total team Earnings</p>
              <p></p>
            </div>
          </div>
          <div class="card border-info mb-3" style="max-width: 18rem">
            <div class="card-body text-info">
              <h5 class="card-title">Success card title</h5>
              <p class="card-text">percentage of total earnings</p>
              <p></p>
            </div>
          </div>
          <div class="card border-info mb-3" style="max-width: 18rem">
            <div class="card-body text-info">
              <h5 class="card-title">Success card title</h5>
              <p class="card-text">avarage team earnings</p>
            </div>
          </div>
        </div>
        <table class="table table-hover bg-white rounded">
          <thead>
            <tr>
              <th scope="col">Week</th>
              <th scope="col">Name</th>
              <th scope="col">Team</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
