<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Supervision</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="centered-content">
        <div class="manage-container">
          <div class="manage">
            <div class="row">
              <div class="col">
                <h1 class="text-dark position-relative">
                  Data <i class="fa-sharp fa-solid fa-database"></i>
                </h1>
              </div>
              <div class="col"></div>
              <div class="col">
                <!-- <div class="input-group rounded search-bar">
                  <input
                    type="search"
                    class="form-control rounded shadow"
                    placeholder="enter team name to search ..."
                    aria-label="Search"
                    aria-describedby="search-addon"
                    [(ngModel)]="searchText"
                    autofocus
                  />
                  <span class="border-0 filter-icon" id="search-addon">
                    <i class="uil uil-filter"></i>
                  </span>
                </div> -->
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="manage-inside" id="teams">
              <div class="row">
                <div class="col-md-6">
                  <div
                    class="card timetable-item shadow border-radius-md pointer"
                    routerLink="/fill_earnings"
                  >
                    <div class="card-body p-3">
                      <div class="row">
                        <div class="col-4 text-end">
                          <div
                            class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                          >
                            <i class="fa-solid fa-user-group opacity-10"></i>
                          </div>
                        </div>
                        <div class="col-8">
                          <div class="timetable-item-content">
                            <div class="timetable-item-name">Add Team Earnings</div>
                            <div class="timetable-item-time">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div
                    class="card timetable-item shadow border-radius-md pointer"
                    routerLink="/fill_earnings"
                  >
                    <div class="card-body p-3">
                      <div class="row">
                        <div class="col-4 text-end">
                          <div
                            class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                          >
                            <i class="fa-sharp fa-solid fa-folder-open"></i>
                          </div>
                        </div>
                        <div class="col-8">
                          <div class="timetable-item-content">
                            <div class="timetable-item-name">Teams and Projects </div>
                            <div class="timetable-item-time">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div
                    class="card timetable-item shadow border-radius-md pointer"
                    routerLink="/view_earnings"
                  >
                    <div class="card-body p-3">
                      <div class="row">
                        <div class="col-4 text-end">
                          <div
                            class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                          >
                            <i class="fa-solid fa-people-group opacity-10"></i>
                          </div>
                        </div>
                        <div class="col-8">
                          <div class="timetable-item-content">
                            <div class="timetable-item-name"> View Team Earnings </div>
                            <div class="timetable-item-time">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div
                    class="card timetable-item shadow border-radius-md pointer"
                    routerLink="/supervise_sessions"
                  >
                    <div class="card-body p-3">
                      <div class="row">
                        <div class="col-4 text-end">
                          <div
                            class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                          >
                            <i class="fa-solid fa-stopwatch opacity-10"></i>
                          </div>
                        </div>
                        <div class="col-8">
                          <div class="timetable-item-content">
                            <div class="timetable-item-name">View Team Sessions</div>
                            <div class="timetable-item-time">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
