<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Title</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="row">
        <div class="col-3">
          <div class="w-75 mb-2">
            <button type="button" class="btn btn-primary">
              + Create a team
            </button>
          </div>
          <div class="card">
            <div class="card-header">
              <h1 class="text-center">Teams</h1>
            </div>
            <div class="list-container">
              <ul class="list-group list-group-flush">
                <li *ngFor="let team of teams" class="list-group-item">
                  <h2>{{ teams.indexOf(team) + 1 }}. {{ team.teamName }}</h2>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-9 bg-slate-500">
          <div class="teams-container">
            <div class="container">
              <div class="row p-3">
                <div class="d-flex mb-3 p-3 border rounded">
                  <div class="me-auto p-2">cohort</div>
                  <div class="p-2">Active</div>
                  <div class="p-2">13</div>
                </div>
              </div>
            </div>
          </div>
          <div class="teams-container">
            <div class="container">
              <div class="flex overflow-x-scroll gap-2">
                <div class="col-sm-3">
                  <div
                    class="card card-active"
                    id="tab1"
                    (click)="showTab('tab1')"
                  >
                    <div class="card-body">
                      <h2 class="card-title">Team Members</h2>
                      <div class="d-flex">
                        <div class="num px-2"><p>20</p></div>
                        <div>
                          <h4 class="card-text">active : 6</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card" id="tab2" (click)="showTab('tab2')">
                    <div class="card-body">
                      <h2 class="card-title">Team Project</h2>
                      <div class="d-flex">
                        <div class="num px-2"><p>24</p></div>
                        <div>
                          <h4 class="card-text">active : 4</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card" id="tab3" (click)="showTab('tab3')">
                    <div class="card-body">
                      <h2 class="card-title">Supervisor</h2>
                      <div class="d-flex">
                        <div class="num px-2"><p>1</p></div>
                        <div>
                          <h4 class="card-text">active : 1</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card" id="tab4" (click)="showTab('tab4')">
                    <div class="card-body">
                      <h2 class="card-title">Earnings</h2>
                      <h1 class="card-text">Ksh 4,000,000</h1>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card" id="tab4" (click)="showTab('tab4')">
                    <div class="card-body">
                      <h2 class="card-title">Sessions</h2>
                      <h1 class="card-text">4:00:00:00</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="teams-container">
            <div class="container">
              <div class="row p-3">
                <div class="container-table p-3 border rounded h-full">
                  <div *ngIf="tabStates['tab1']" class="">
                    <div class="d-flex">
                      <div class="p-2 flex-grow-1">
                        <button type="button" class="btn btn-primary">
                          Add Members
                        </button>
                      </div>
                      <div class="p-2">
                        <input
                          type="text"
                          placeholder="Search by Name"
                          class="form-control m-3"
                        />
                      </div>
                      <div class="p-2"></div>
                    </div>
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">First</th>
                          <th scope="col">Last</th>
                          <th scope="col">Handle</th>
                          <th scope="col"></th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>markotto@gmail.com</td>
                          <td>
                            <i
                              class="fa-solid fa-pen-to-square"
                              style="color: #3eb16a"
                            ></i>
                          </td>
                          <td>
                            <i
                              class="fa-solid fa-trash"
                              style="color: #ff2929"
                            ></i>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>jacobthornton@fat.com</td>
                          <td>
                            <i
                              class="fa-solid fa-pen-to-square"
                              style="color: #3eb16a"
                            ></i>
                          </td>
                          <td>
                            <i
                              class="fa-solid fa-trash"
                              style="color: #ff2929"
                            ></i>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Joe</td>
                          <td>Karanja</td>
                          <td>joekaranja@gmail.com</td>
                          <td>
                            <i
                              class="fa-solid fa-pen-to-square"
                              style="color: #3eb16a"
                            ></i>
                          </td>
                          <td>
                            <i
                              class="fa-solid fa-trash"
                              style="color: #ff2929"
                            ></i>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">4</th>
                          <td>Joe</td>
                          <td>Karanja</td>
                          <td>joekaranja@gmail.com</td>
                          <td>
                            <i
                              class="fa-solid fa-pen-to-square"
                              style="color: #3eb16a"
                            ></i>
                          </td>
                          <td>
                            <i
                              class="fa-solid fa-trash"
                              style="color: #ff2929"
                            ></i>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">5</th>
                          <td>Joe</td>
                          <td>Karanja</td>
                          <td>joekaranja@gmail.com</td>
                          <td>
                            <i
                              class="fa-solid fa-pen-to-square"
                              style="color: #3eb16a"
                            ></i>
                          </td>
                          <td>
                            <i
                              class="fa-solid fa-trash"
                              style="color: #ff2929"
                            ></i>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">6</th>
                          <td>Joe</td>
                          <td>Karanja</td>
                          <td>joekaranja@gmail.com</td>
                          <td>
                            <i
                              class="fa-solid fa-pen-to-square"
                              style="color: #3eb16a"
                            ></i>
                          </td>
                          <td>
                            <i
                              class="fa-solid fa-trash"
                              style="color: #ff2929"
                            ></i>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">7</th>
                          <td>Joe</td>
                          <td>Karanja</td>
                          <td>joekaranja@gmail.com</td>
                          <td>
                            <i
                              class="fa-solid fa-pen-to-square"
                              style="color: #3eb16a"
                            ></i>
                          </td>
                          <td>
                            <i
                              class="fa-solid fa-trash"
                              style="color: #ff2929"
                            ></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div *ngIf="tabStates['tab2']" class="">tab 2</div>
                  <div *ngIf="tabStates['tab3']" class="">
                    <div class="data-table">
                      <mat-card class="mat-elevation-z8 shadow">
                        <mat-card-content>
                          <form>
                            <b>Search Records :</b> &nbsp;&nbsp;
                            <mat-form-field>
                              <mat-label>Filter</mat-label>
                              <input matInput (keyup)="applyFilter($event)" />
                            </mat-form-field>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <b>Delete Selected Records :</b> &nbsp;&nbsp;
                            <button
                              mat-icon-button
                              aria-label="Example icon button with a delete icon"
                              type="button"
                              class="mt-4 custom-delete mat-raised-button"
                              (click)="deleteSelected()"
                              color="accent"
                            >
                              <mat-icon class="text-white">delete</mat-icon>
                            </button>
                            <div>
                              <!-- TABLE BEGINS HERE-->
                              <mat-table
                                [dataSource]="dataSource"
                                matSort
                                class="mat-elevation-z8"
                                style="
                                  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
                                    0 6px 10px 0 rgba(0, 0, 0, 0.14),
                                    0 1px 18px 0 rgba(0, 0, 0, 0.12);
                                "
                              >
                                <!-- Checkbox Column -->
                                <ng-container matColumnDef="Select">
                                  <mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox
                                      (change)="$event ? masterToggle() : null"
                                      [checked]="
                                        selection.hasValue() && isAllSelected()
                                      "
                                      [indeterminate]="
                                        selection.hasValue() && !isAllSelected()
                                      "
                                    ></mat-checkbox>
                                  </mat-header-cell>
                                  <mat-cell *matCellDef="let row" class="">
                                    <mat-checkbox
                                      (click)="$event.stopPropagation()"
                                      (change)="
                                        $event ? selection.toggle(row) : null
                                      "
                                      [checked]="selection.isSelected(row)"
                                      [aria-label]="checkboxLabel(row)"
                                    ></mat-checkbox>
                                  </mat-cell>
                                </ng-container>
                                <!-- Projectname Column -->
                                <ng-container
                                  matColumnDef="Projectname"
                                  class=""
                                >
                                  <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                  >
                                    Project name
                                  </mat-header-cell>
                                  <mat-cell
                                    *matCellDef="let document"
                                    class="point"
                                  >
                                    {{ document.projectName }}
                                  </mat-cell>
                                </ng-container>
                                <!-- Teams Column -->
                                <ng-container matColumnDef="Teams" class="">
                                  <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                  >
                                    Teams
                                  </mat-header-cell>
                                  <mat-cell
                                    *matCellDef="let document"
                                    class="bold"
                                  >
                                    {{ document.teams }}
                                  </mat-cell>
                                </ng-container>
                                <!-- Createdat Column -->
                                <ng-container matColumnDef="CreatedAt" class="">
                                  <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                  >
                                    Created at
                                  </mat-header-cell>
                                  <mat-cell *matCellDef="let document">
                                    {{ convertDate(document.createdAt) }}
                                  </mat-cell>
                                </ng-container>
                                <!-- Createdby Column -->
                                <ng-container matColumnDef="CreatedBy" class="">
                                  <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                  >
                                    Created by
                                  </mat-header-cell>
                                  <mat-cell *matCellDef="let document">
                                    {{ document.createdBy }}
                                  </mat-cell>
                                </ng-container>

                                <!-- Delete Icon -->
                                <ng-container matColumnDef="Delete">
                                  <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                  >
                                    Delete
                                  </mat-header-cell>
                                  <mat-cell *matCellDef="let document">
                                    <button
                                      mat-icon-button
                                      class="custom-button custom-button-delete mat-raised-button"
                                      aria-label="Example icon button with a delete icon"
                                      type="button"
                                      (click)="
                                        confirmDeletion(
                                          document._id,
                                          document.projectName
                                        )
                                      "
                                      color="accent"
                                      matTooltip="Delete"
                                    >
                                      <mat-icon>delete_forever</mat-icon>
                                    </button></mat-cell
                                  >
                                </ng-container>
                                <mat-header-row
                                  *matHeaderRowDef="displayedColumns"
                                ></mat-header-row>
                                <mat-row
                                  *matRowDef="
                                    let row;
                                    columns: displayedColumns
                                  "
                                ></mat-row
                              ></mat-table>
                              <mat-paginator
                                [pageSizeOptions]="[10, 25, 50]"
                              ></mat-paginator>
                            </div>
                          </form>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>

                  <div *ngIf="tabStates['tab4']" class="">tab 4</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
