<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Title</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="teams-container">
        <div class="container">
          <div class="row p-3">
            <div class="d-flex mb-3 p-3 border rounded">
              <div class="me-auto p-2">cohort</div>
              <div class="p-2">Active</div>
              <div class="p-2">13</div>
            </div>
          </div>
        </div>
      </div>
      <div class="teams-container">
        <div class="container">
          <div class="row row-cols-4">
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Team Members</h2>
                  <div class="d-flex">
                    <div class="num px-2"><p>20</p></div>
                    <div>
                      <h4 class="card-text">active : 6</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Team Project</h2>
                  <div class="d-flex">
                    <div class="num px-2"><p>24</p></div>
                    <div>
                      <h4 class="card-text">active : 4</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Supervisor</h2>
                  <div class="d-flex">
                    <div class="num px-2"><p>1</p></div>
                    <div>
                      <h4 class="card-text">active : 1</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Earnings</h2>
                  <h1 class="card-text">Ksh 4,000,000</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
