.teams-container {
  display: flex;
  width: 100%;
  // height: 100%;
  max-width: 100rem;
  max-height: calc(90vh - 170px);
  background: white;

  .card {
    &:hover {
      cursor: pointer;
      border-color: #22b8f0;
      // border-width: 2px;
    }

    &-active {
      color: white;
      background: linear-gradient(
        90deg,
        rgba(26, 167, 236, 1) 0%,
        rgba(26, 167, 236, 1) 35%,
        rgba(13, 151, 251, 1) 100%
      );

      .card-text {
        color: rgb(47, 255, 75);
      }
      .num {
        color: rgb(255, 238, 0);
      }
    }
  }

  .row {
    display: flex;
    border-style: none;
    border-width: 1px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  .num {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .card-text {
    display: flex;
    justify-items: end;
    color: green;
  }
}
.table {
  font-size: large;
  width: 100%;
}

/*Styles for the data table*/
.data-table {
  //margin-top: 20px;

  // b {
  //   font-size: 16px;
  // }

  // .custom-delete {
  //   background-color: #e91e63;
  // }

  // mat-form-field {
  //   //width: 50%;
  //   flex: 0 5px 50%; /* grow shrink basis */
  // }
  mat-table {
    //min-height: calc(100vh - 800px);
    //max-height: calc(100vh - 600px);
    //overflow-y: auto;
    // ng-container {
    //   mat-cell {
    //     button {
    //       mat-icon {
    //         font-size: 4px;
    //         height: 4px;
    //         width: 4px;
    //       }
    //     }
    //   }
    // }

    /*Styling the header*/
    // mat-header-cell {
    //   color: #22b8f0;
    // }

    .custom-button {
      // line-height: 30px;
      // height: 30px;
      // width: 30px;

      &-edit {
        background-color: #22b8f0;
      }

      &-delete {
        background-color: #e91e63;
      }

      mat-icon {
        position: absolute;
        font-size: 14px;
        color: white;
        top: 8px;
        right: 2px;
        // background: red;
      }
    }

    .point {
      &:hover {
        cursor: pointer;
        color: #cb0c9f;
      }
    }

    /*Styling columns*/
    .mat-column-Select {
      flex: none;
      width: 60px;
    }
    // .mat-column-Email {
    //   flex: none;
    //   width: 300px;
    // }
    // .mat-column-Position {
    //   flex: none;
    //   width: 60px;
    // }

    /*Styling status columns data*/
    .default {
      color: #ac1100;
      font-weight: 500;
    }
    .running {
      color: #027a34;
      font-weight: 500;
    }
    .paused {
      color: #bebe0a;
      font-weight: 500;
    }

    .bold {
      font-weight: 550;
    }
  }
}
