<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Status</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="centered-content">
        <div class="projects-container">
          <div class="projects">
            <div class="row">
              <div class="col-3">
                <h1 class="text-dark position-relative heading">
                  Timer data <i class="uil uil-database"></i>
                  <!-- <span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger count"
                  >
                    ff
                  </span> -->
                </h1>
              </div>
              <div class="col count">
                <h1 class="text-dark position-relative">
                  Documents:
                  <span class=""> {{ docLength }} </span>
                </h1>
              </div>
              <div class="col selector">
                <div class="input-group mb-3">
                  <div class="input-group-prepend me-2">
                    <label class="input-group-text" for="inputGroupSelect"
                      >Filter by</label
                    >
                  </div>
                  <div class="ui-dropdown shadow">
                    <select
                      #fields
                      class="custom-select"
                      id="inputGroupSelect"
                      (change)="onSelected()"
                    >
                      <!-- values here must match the object properties -->
                      <option value="username" selected>Username</option>
                      <option value="projectName">Project name</option>
                      <option value="teamName">Team name</option>
                      <option value="status">Status</option>
                      <!-- <option value="duration">Duration</option> -->
                      <option value="startTime">Start date</option>
                      <option value="finishTime">Finish date</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="input-group rounded search-bar">
                  <input
                    type="search"
                    class="form-control rounded shadow"
                    [placeholder]="placeholder"
                    aria-label="Search"
                    aria-describedby="search-addon"
                    [(ngModel)]="filterFields[propName]"
                    (ngModelChange)="updateFilters()"
                    autofocus
                  />
                  <span class="border-0 filter-icon" id="search-addon">
                    <i class="uil uil-filter"></i>
                  </span>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="projects-inside">
              <mat-card class="shadow">
                <div class="container ps-3 pt-1 pb-2 mt-1 p-1 table-data">
                  <div class="header">
                    <div class="row border-bottom" style="align-items: center">
                      <div class="col-1">
                        <h2>#</h2>
                      </div>
                      <div class="col-sm text-left">
                        <h2>Username</h2>
                      </div>
                      <div class="col-sm">
                        <h2>Project</h2>
                      </div>
                      <div class="col-sm">
                        <h2>Team</h2>
                      </div>
                      <div class="col-sm">
                        <h2>Status</h2>
                      </div>
                      <div class="col-sm">
                        <h2>Duration</h2>
                      </div>
                      <div class="col-sm">
                        <h2>Start time</h2>
                      </div>
                      <div class="col-sm">
                        <h2>Finish time</h2>
                      </div>
                    </div>
                  </div>
                  <div class="content" style="font-size: 14px">
                    <div
                      class="row pt-3 pb-2 ps-3 border-bottom content-row"
                      style="align-items: center"
                      *ngFor="let document of documents | myFilter: filter"
                    >
                      <div class="col-1 centered-content">
                        <p>{{ documents.indexOf(document) + 1 }}</p>
                      </div>
                      <div class="col-sm">
                        <p>{{ document.username }}</p>
                      </div>
                      <div class="col-sm">
                        <p>{{ document.projectName }}</p>
                      </div>
                      <div class="col-sm">
                        <p>{{ document.teamName }}</p>
                      </div>
                      <div class="col-sm">
                        <p>{{ document.status }}</p>
                      </div>
                      <div class="col-sm">
                        <p>{{ document.duration }}</p>
                      </div>
                      <div class="col-sm">
                        <p>{{ document.started }}</p>
                      </div>
                      <div class="col-sm">
                        <p>{{ document.finished }}</p>
                      </div>
                    </div>
                    <div class="centered notify" *ngIf="docLength === 0">
                      <i class="fa-solid fa-circle-exclamation me-2"></i>
                      <div>No data available at the moment</div>
                    </div>
                  </div>
                </div>
              </mat-card>
              <div class="row centered create">
                <div class="col-md-1">
                  <button
                    class="btn btn-outline-custom"
                    routerLink="/ad_dashboard"
                  >
                    <div class="btn-txt">
                      <i class="fa-solid fa-caret-left"></i>
                    </div>
                  </button>
                </div>
                <div class="col"><h4>back</h4></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
