<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Status</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="centered-content">
        <div class="projects-container">
          <div class="projects">
            <div class="row">
              <div class="col-3">
                <h1 class="text-dark position-relative heading">
                  Project status <i class="uil uil-database"></i>
                  <!-- <span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger count"
                  >
                    ff
                  </span> -->
                </h1>
              </div>
              <div class="col count">
                <h1 class="text-dark position-relative">
                  Projects:
                  <span class=""> {{ projectsLength }} </span>
                </h1>
              </div>
              <div class="col selector">
                <div class="input-group mb-3">
                  <div class="input-group-prepend me-2">
                    <label class="input-group-text" for="inputGroupSelect"
                      >Filter by</label
                    >
                  </div>
                  <div class="ui-dropdown shadow">
                    <select
                      #fields
                      class="custom-select"
                      id="inputGroupSelect"
                      (change)="onSelected()"
                    >
                      <!-- values here must match the object properties -->
                      <option value="projectName" selected>Projectname</option>
                      <option value="teamCount">Teams</option>
                      <option value="members">Members</option>
                      <option value="status">Status</option>
                      <option value="duration">Duration</option>
                      <option value="userPerc">User percentage</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="input-group rounded search-bar">
                  <input
                    type="search"
                    class="form-control rounded shadow"
                    [placeholder]="placeholder"
                    aria-label="Search"
                    aria-describedby="search-addon"
                    [(ngModel)]="filterFields[propName]"
                    (ngModelChange)="updateFilters()"
                    autofocus
                  />
                  <span class="border-0 filter-icon" id="search-addon">
                    <i class="uil uil-filter"></i>
                  </span>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="projects-inside">
              <mat-card class="shadow">
                <div class="container ps-3 pt-1 pb-2 mt-1 p-1 table-data">
                  <div class="header">
                    <div class="row border-bottom" style="align-items: center">
                      <div class="col-1">
                        <h2>#</h2>
                      </div>
                      <div class="col-sm text-left">
                        <h2>Project</h2>
                      </div>
                      <div class="col-sm">
                        <h2>Teams</h2>
                      </div>
                      <div class="col-sm">
                        <h2>Members</h2>
                      </div>
                      <div class="col-sm">
                        <h2>Status</h2>
                      </div>
                      <div class="col-sm">
                        <h2>Duration</h2>
                      </div>
                      <div class="col-sm">
                        <h2>User Percentage</h2>
                      </div>
                    </div>
                  </div>
                  <div class="content" style="font-size: 14px">
                    <div
                      class="row pt-3 pb-2 ps-3 border-bottom content-row"
                      style="align-items: center"
                      *ngFor="let project of projects | myFilter : filter"
                    >
                      <div class="col-1 centered-content">
                        <p>{{ projects.indexOf(project) + 1 }}</p>
                      </div>
                      <div class="col-sm">
                        <p>{{ project.projectName }}</p>
                      </div>
                      <div class="col-sm team-count">
                        <p>{{ project.teams }}</p>
                      </div>
                      <div class="col-sm members">
                        <p>{{ project.members }}</p>
                      </div>
                      <div
                        *ngIf="project.status != 'dormant'"
                        class="col-sm"
                        [ngClass]="
                          project.status === 'active' ? 'running' : 'paused'
                        "
                      >
                        <p>{{ project.status }}</p>
                      </div>
                      <div
                        *ngIf="project.status === 'dormant'"
                        class="col-sm default"
                      >
                        <p>{{ project.status }}</p>
                      </div>
                      <div class="col-sm">
                        <p>{{ project.duration }}</p>
                      </div>
                      <div
                        *ngIf="project.userPerc > 70"
                        class="col-sm members"
                        [ngClass]="project.userPerc > 70 ? 'running' : ''"
                      >
                        <p>{{ project.userPerc }}%</p>
                      </div>
                      <div
                        *ngIf="project.userPerc < 70"
                        class="col-sm members"
                        [ngClass]="project.userPerc < 20 ? 'default' : ''"
                      >
                        <p>{{ project.userPerc }}%</p>
                      </div>
                    </div>
                    <div class="centered notify" *ngIf="projectsLength === 0">
                      <i class="fa-solid fa-circle-exclamation me-2"></i>
                      <div>No data available at the moment</div>
                    </div>
                  </div>
                </div>
              </mat-card>
              <div class="row centered create">
                <div class="col-md-1">
                  <button
                    class="btn btn-outline-custom"
                    routerLink="/ad_dashboard"
                  >
                    <div class="btn-txt">
                      <i class="fa-solid fa-caret-left"></i>
                    </div>
                  </button>
                </div>
                <div class="col"><h4>back</h4></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
