<div class="container-fluid page">
  <div class="page__box p-3 mt-2">supervise</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="centered-content">
        <div class="teams-container">
          <div class="teams">
            <div class="row">
              <div class="col">
                <h1>My Teams Data</h1>
                <!-- <button
                  type="button"
                  class="btn btn-outline-primary"
                  routerLink="/supervise_teams"
                >
                  Back
                </button> -->
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="card-body">
              <div class="row d-flex justify-content-center">
                <div class="col-3">
                  <h2 class="data-name" routerLink="/ad_manage/users">
                    My Teams
                    <h1>{{ supTeamCount }}</h1>
                    <span class="text-success mr-2"><h3>90% active</h3></span>
                  </h2>
                </div>
                <div class="col-3">
                  <h2 class="data-name" routerLink="/projects">
                    Active projects
                    <h1>{{ supProjectCount }}</h1>
                    <span class="text-success mr-2"><h3>60% done</h3></span>
                  </h2>
                </div>
                <div class="col-3">
                  <h2 class="data-name">
                    Team Earnings
                    <h1>200$</h1>
                    <span class="text-danger mr-2"><h3>-20%</h3></span>
                  </h2>
                </div>
                <div class="col-3">
                  <h2 class="data-name">
                    Team Sessions
                    <h1>TOTAL</h1>
                    <span class="text-danger mr-2"><h3>20:00:04</h3></span>
                  </h2>
                </div>
              </div>
            </div>

            <div class="teams-inside">
              <div class="row">
                <h2>Your Teams</h2>
                <div
                  class="card"
                  style="width: 13rem; height: 15rem; background-color: white"
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body" style="width: 13rem; height: 15rem">
                    <h3 class="card-title">Card title</h3>
                    <a class="btn btn-primary">New Team</a>
                  </div>
                </div>
                <div
                  class="card"
                  *ngFor="let team of teams"
                  style="width: 13rem; height: 15rem"
                >
                  <!-- <img class="card-img-top" src="..." alt="Card image cap" /> -->
                  <div class="card-body" routerLink="/supervise/team">
                    <h3 class="card-title">{{ team.teamName }}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
