 
            <div class="row mt-4" style="height: 500px;">
                <div class="col"></div>
                <div class="col-md-6 bg-white shadow">
                    
                    <div class="card bg-secondary mt-4">
                        <h4 class="text-white ps-3 pt-2 pb-2">My Projects</h4>
                    </div>

                    <div class="shadow">
                        <div class="input-group  p-4">
                            <input type="text" class="form-control" placeholder="enter project">
                            <!-- <div class="input-group-append"> -->
                            <button class="btn btn-outline-secondary" type="button">+</button> 
                            <!-- </div> -->
                          </div>
                    </div>

                    <h4 class="text-primary mt-4">Projects :</h4>

                    <div style="overflow-y: auto; height: 350px;">
                        <div class="m-3">
                            <div class="p-2 shadow border">
                                <div class="input-group row ps-3">
                                    <div class="card col-md-10 border-0">Bee Project 1 of 5</div>
                                    <button class="btn btn-outline-primary col">e</button>
                                    <button class="btn btn-outline-danger col">x</button>
                                </div>
                            </div>
                        </div>
                        <div class="m-3">
                            <div class="p-2 shadow border">
                                <div class="input-group row ps-3">
                                    <div class="card col-md-10 border-0">Bee Project 1 of 5</div>
                                    <button class="btn btn-outline-primary col">e</button>
                                    <button class="btn btn-outline-danger col">x</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col"></div>

            </div>