.centered-content {
  position: absolute;
  .modal-box {
    position: relative;
    max-width: 450px;
    width: 100%;
    background: #ffff;
    border-radius: 15px;
    padding: 35px;
    opacity: 0.8;

    .avatar {
      display: flex;
      padding-bottom: 0;
      margin-bottom: 0;

      .icon {
        color: #22b8f0;
      }

      &__image {
        /* Size */
        height: 50%;
        width: 50%;
      }
    }

    .title {
      font-size: 20px;
      font-weight: 500;
    }

    .details {
      font-size: 16px;
      font-weight: 600;
      padding-bottom: 15px;

      i {
        color: #cb0c9f;
      }
    }

    &:hover {
      opacity: 1;
      transition: transform 0.2s ease;
      transform: scale(1.05);
    }
  }
}
