<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Profile</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="centered-content">
        <div class="modal-box shadow">
          <div class="avatar">
            <!-- Avatar image -->
            <img class="avatar__image" src="./assets/icons/user.svg" />
          </div>
          <h1 class="title"><i class="uil uil-at"></i> username</h1>
          <div class="details">
            <i class="uil uil-smile"></i> Joseph Karanja
          </div>
          <div class="details">
            <i class="uil uil-envelope-alt"></i> info@joe.com
          </div>
          <div class="details">
            <i class="uil uil-phone"></i> +254 798260636
          </div>
          <div class="details">
            <i class="uil uil-credit-card"></i> 398123455
          </div>
          <div class="details"><i class="uil uil-user-circle"></i> male</div>
          <div class="details"><i class="uil uil-shield-check"></i> user</div>
        </div>
      </div>
    </div>
  </div>
</div>
