<div class="centered-content">
  <div class="modal-box shadow">
    <div class="title">
      <div class="avatar">
        <!-- Avatar image -->
        <img class="avatar__image" src="/assets/icons/user.svg" />
      </div>
      <h1 class="username"><i class="uil uil-at"></i>{{ user.username }}</h1>
    </div>
    <div class="details">
      <i class="fa-solid fa-face-smile"></i> {{ user.firstName }}
    </div>
    <div class="details">
      <i class="fa-solid fa-envelope"></i> {{ user.email }}
    </div>
    <div class="details">
      <i class="fa-solid fa-phone"></i>{{ user.telNumber }}
    </div>
    <div class="details"><i class="fa-regular fa-id-card"></i>{{user.idNumber}}</div>
    <div class="details"><i class="fa-solid fa-venus-mars"></i>{{user.gender}}</div>
    <div class="details"><i class="fa-solid fa-location-dot"></i>{{user.county}}</div>
    <div class="details">
      <i class="fa-solid fa-circle-user"></i> {{ user.role }}
    </div>
  </div>
</div>
