<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Action</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="centered-content">
        <div class="projects-container">
          <div class="projects">
            <h1 class="text-dark">
              project name <i class="fa-regular fa-folder-open"></i>
            </h1>
            <mat-divider></mat-divider>
            <div class="projects-inside" id="projects"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
