<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Action</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="centered-content">
        <div class="projects-container">
          <div class="projects">
            <div class="d-flex justify-content-between">
              <div class="">
                <h1 class="text-dark">
                  {{ projectName }} <i class="fa-regular fa-folder-open"></i>
                </h1>
              </div>
              <div class="d-flex status">
                <span>Status:&nbsp;</span>
                <div *ngIf="!idle" [ngClass]="started ? 'active' : 'break'">
                  {{ projectStatus }}
                </div>
                <div class="default" *ngIf="idle">{{ projectStatus }}</div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="projects-inside">
              <div class="">
                <mat-card class="timer shadow">
                  <mat-card-content>
                    <div class="shadow mt-0" style="height: 35px">
                      <h3 class="text-dark ps-3 pt-1 pb-2 timer-text">Timer</h3>
                    </div>
                    <div class="mt-4">
                      <div class="clock">
                        <div class="digit hours">
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                        </div>

                        <div class="digit hours">
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                        </div>

                        <div class="separator"></div>

                        <div class="digit minutes">
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                        </div>

                        <div class="digit minutes">
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                        </div>

                        <div class="separator"></div>

                        <div class="digit seconds">
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                        </div>

                        <div class="digit seconds">
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                          <div class="segment"></div>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>

                <!-- <mat-card class="timer shadow">
                  <mat-card-content>
                    <div class="shadow mt-0" style="height: 35px">
                      <h4 class="text-dark ps-3 pt-1 pb-2 ubuntu">Timer</h4>
                    </div>
                    <div class="centered mt-4">
                      <span id="hour">00</span>:<span id="minute">00</span
                      >:<span id="second">00</span>
                    </div>
                  </mat-card-content>
                </mat-card> -->
              </div>
              <div class="timerbuttons">
                <section class="watch-buttons centered">
                  <nav>
                    <button
                      *ngIf="stopwatchnotPaused"
                      id="stopwatch-reset"
                      class="btn-pause"
                      (click)="alertConfirmation('pause')"
                    >
                      Pause
                    </button>
                    <button
                      *ngIf="stopwatchPaused"
                      id="stopwatch-reset"
                      class="btn-pause"
                      (click)="alertConfirmation('continue')"
                    >
                      Continue
                    </button>
                    <button
                      *ngIf="stopwatchnotStarted"
                      id="stopwatch-start"
                      class="btn-start-stopwatch"
                      (click)="alertConfirmation('start')"
                    >
                      Start
                    </button>
                    <button
                      *ngIf="stopwatchStarted"
                      id="stopwatch-start"
                      class="btn-stopwatch-stop"
                      (click)="alertConfirmation('stop')"
                    >
                      Finish
                    </button>
                  </nav>
                </section>
              </div>

              <button
                class="btn btn-custom btn-lg mt-4"
                style="color: white"
                [routerLink]="['/projects', projectId, teamId]"
              >
                back
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
