<div class="container-fluid page">
  <div class="page__box p-3 mt-2">User Profile</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="centered-content">
        <div class="modal-box shadow">
          <div class="col ">
            <div class="card">
              <div class="card-header">
                <div class="row d-flex justify-content-center mt-3">
                  <div class="col"><h1 class="d-flex">About :<h2 class="ml">Manu</h2></h1></div>
                  <div class="col-3">
                    <button type="button" class="btn btn-outline-primary me-2">
                      Edit Profile
                    </button>
                    <button type="button" class="btn btn-primary">Exit</button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row d-flex justify-content-center">
                  <div class="col-6">
                    <h2 class="data-name d-flex">
                      First Name :
                      <h2 class="ml">Immanuel</h2>
                    </h2>
                  </div>
                  <div class="col-6">
                    <h2 class="data-name d-flex">
                      Last Name :
                      <h2 class="ml">Kimani</h2>
                    </h2>
                  </div>
                </div>
                <div class="row d-flex justify-content-center">
                  <div class="col-6">
                    <h2 class="data-name d-flex">
                      Gender :
                      <h2 class="ml">Male</h2>
                    </h2>
                  </div>
                  <div class="col-6">
                    <h2 class="data-name d-flex">
                      Contact info :
                      <h2 class="ml">+254704637682</h2>
                    </h2>
                  </div>
                </div>
                <div class="row d-flex justify-content-center">
                  <div class="col-6">
                    <h2 class="data-name d-flex">
                      Role :
                      <h2 class="ml">manager</h2>
                    </h2>
                  </div>
                  <div class="col-6">
                    <h2 class="data-name d-flex">
                      SITE :
                      <h2 class="ml">lish</h2>
                    </h2>
                  </div>
                </div>
                <div class="row d-flex justify-content-center">
                  <div class="col-6">
                    <h2 class="data-name d-flex">
                      Email :
                      <h2 class="ml">immanuel4082&#64;gmail.com</h2>
                    </h2>
                  </div>
                  <div class="col-6">
                    <h2 class="data-name d-flex">
                      Id Number :
                      <h2 class="ml">37660954</h2>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
