<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Projects</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="centered-content">
        <div class="modal-box shadow">
          <h1 class="title">
            {{ projectName }} <i class="fa-solid fa-folder-open"></i>
          </h1>
          <div class="content">
            <div class="child">
              <div class="label"><i class="uil uil-user"></i> Created By:</div>
              <div class="data">{{ createdBy }}</div>
            </div>
            <div class="child">
              <div class="label">
                <i class="uil uil-clock"></i> Last updated:
              </div>
              <div class="data">{{ lastUpdated }}</div>
            </div>
            <div class="child">
              <div class="label"><i class="uil uil-users-alt"></i> Teams:</div>
              <div class="data">{{ teamCount }}</div>
            </div>
            <div class="child">
              <div class="label"><i class="uil uil-server"></i> Status:</div>
              <div class="data">Productive</div>
            </div>
          </div>
          <div class="input-group-append row btm-rgt">
            <button
              class="btn btn-outline-secondary col me-2"
              type="button"
              routerLink="/ad_projects"
            >
              Back
            </button>
            <button
              class="btn btn-custom col dropdown-toggle"
              type="submit"
              (click)="actionClick()"
            >
              Action
            </button>
            <div class="dropdown row" *ngIf="actionClicked">
              <div class="col"></div>
              <div class="col dropdown-content shadow">
                <a
                  class="dropdown-item"
                  [routerLink]="['/edit_project', projectId]"
                  ><i class="fa-solid fa-pen-fancy"></i> edit</a
                >
                <a class="dropdown-item"
                  ><i class="fa-solid fa-stopwatch"></i> view sessions</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
