<app-log-header (login)="login()" (signup)="signUp()"></app-log-header>

<div class="section">
  <div class="container">
    <!--removed==>full-height  in class list below-->
    <div class="row justify-content-center">
      <!-- <div class="col-12 align-self-center py-0 text-center">
        <img src="assets/logo-down.png" alt="" class="p-3" />
      </div> -->
      <div class="col-12 text-center align-self-center py-3 mt-1">
        <div class="section pb-5 pt-5 pt-sm-2 text-center">
          <input
            class="checkbox"
            type="checkbox"
            id="reg-log"
            name="reg-log"
            (click)="toggleCheck()"
            #checkbox
          />
          <label for="reg-log"></label>
          <div class="card-3d-wrap mx-auto">
            <div class="card-3d-wrapper">
              <!-- SIGN IN  PAGE -->
              <div class="card-front">
                <div class="center-wrap">
                  <div class="section text-center">
                    <h4 class="mb-3 pb-3 text-white">Log In</h4>
                    <form
                      name="form"
                      (ngSubmit)="f.form.valid && onSignin()"
                      #f="ngForm"
                      novalidate
                    >
                      <div class="form-group">
                        <input
                          type="text"
                          name="user"
                          class="form-style form-control"
                          [(ngModel)]="form.username"
                          placeholder="username or email"
                          required
                          minlength="3"
                          autocomplete="off"
                          #user="ngModel"
                        />
                        <i class="input-icon uil uil-at"></i>
                        <i
                          class="vericon success fas fa-check-circle fa-xs"
                          *ngIf="!user.errors && user.dirty"
                        ></i>
                        <i
                          class="vericon danger fas fa-exclamation-circle fa-xs"
                          *ngIf="
                            (user.errors && user.dirty) ||
                            (user.errors && logsubmitted)
                          "
                        ></i>
                        <div
                          class="alert-style"
                          role="alert"
                          *ngIf="
                            (user.errors && user.dirty) ||
                            (user.errors && logsubmitted)
                          "
                        >
                          <small *ngIf="user.errors['required']">
                            Username or email is required!
                          </small>
                          <small *ngIf="user.errors['minlength']">
                            Username or email must be at least 3 characters
                          </small>
                        </div>
                      </div>
                      <div class="form-group mt-2">
                        <input
                          type="password"
                          name="pwd"
                          [(ngModel)]="form.password"
                          required
                          minlength="5"
                          class="form-style form-control"
                          placeholder="password"
                          autocomplete="off"
                          #pwd="ngModel"
                        />
                        <i class="input-icon uil uil-lock-alt"></i>
                        <i
                          class="vericon danger fas fa-exclamation-circle fa-xs"
                          *ngIf="
                            (pwd.errors && pwd.dirty) ||
                            (pwd.errors && logsubmitted)
                          "
                        ></i>
                        <i
                          class="vericon success fas fa-check-circle fa-xs"
                          *ngIf="!pwd.errors && f.dirty"
                        ></i>
                        <div
                          class="alert-style"
                          role="alert"
                          *ngIf="
                            (pwd.errors && pwd.dirty) ||
                            (pwd.errors && logsubmitted)
                          "
                        >
                          <small *ngIf="pwd.errors['required']"
                            >password is required!</small
                          >
                          <small *ngIf="pwd.errors['minlength']">
                            Password must be at least 6 characters
                          </small>
                        </div>
                      </div>
                      <div class="form-group">
                        <button class="btn mt-4 a" (click)="validateLogin()">
                          Sign In
                        </button>
                      </div>
                      <div class="form-group">
                        <div
                          class="alert-style mt-2"
                          role="alert"
                          *ngIf="f.submitted && isLoginFailed"
                        >
                          <h5 class="error mt-3">
                            Login failed: {{ loginErrorMessage }}
                          </h5>
                        </div>
                      </div>
                      <div class="form-group">
                        <p class="mb-0 mt-4 text-center">
                          <a class="link" (click)="signUp()"
                            >Create an account?</a
                          >
                        </p>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- SIGN UP PAGE -->
              <div class="card-back">
                <div class="center-wrap">
                  <div class="section text-center">
                    <h4 class="mb-2 pb-1 text-white">Sign Up</h4>
                    <div [ngSwitch]="currentPage">
                      <!-- FORM 1: BASIC INFO -->
                      <div *ngSwitchCase="1">
                        <form
                          [formGroup]="fSignup1"
                          (ngSubmit)="fSignup1.valid && nextPage(1)"
                        >
                          <!-- <h5 class="subtitle">Personal details</h5> -->
                          <div class="custom-form-row row">
                            <div class="form-group col me-2">
                              <input
                                type="text"
                                formControlName="firstname"
                                class="form-style form-control"
                                [ngClass]="{
                                  'is-invalid':
                                    (firstname?.dirty && firstname?.errors) ||
                                    (submitted1 && firstname?.errors)
                                }"
                                placeholder="Your First Name"
                                autocomplete="off"
                              />
                              <i class="input-icon uil uil-smile"></i>
                              <i
                                class="vericon success fas fa-check-circle fa-xs"
                                *ngIf="firstname?.dirty && !firstname?.errors"
                              ></i>

                              <div
                                class="alert-style"
                                role="alert"
                                *ngIf="
                                  (firstname?.dirty && firstname?.errors) ||
                                  (submitted1 && firstname?.errors)
                                "
                              >
                                <small *ngIf="firstname?.errors?.['required']">
                                  Firstame is required!
                                </small>
                                <small *ngIf="firstname?.errors?.['minlength']">
                                  Firstname must be at least 3 characters
                                </small>
                              </div>
                            </div>
                            <div class="form-group col">
                              <input
                                type="text"
                                formControlName="lastname"
                                class="form-style form-control"
                                [ngClass]="{
                                  'is-invalid':
                                    (lastname?.dirty && lastname?.errors) ||
                                    (submitted1 && lastname?.errors)
                                }"
                                placeholder="Your Last Name"
                                autocomplete="off"
                              />
                              <i class="input-icon uil uil-smile"></i>
                              <i
                                class="vericon success fas fa-check-circle fa-xs"
                                *ngIf="lastname?.dirty && !lastname?.errors"
                              ></i>

                              <div
                                class="alert-style"
                                role="alert"
                                *ngIf="
                                  (lastname?.dirty && lastname?.errors) ||
                                  (submitted1 && lastname?.errors)
                                "
                              >
                                <small *ngIf="lastname?.errors?.['required']">
                                  Lastame is required!
                                </small>
                                <small *ngIf="lastname?.errors?.['minlength']">
                                  Lastname must be at least 3 characters
                                </small>
                              </div>
                            </div>
                          </div>
                          <div class="form-group mt-2">
                            <input
                              class="form-style form-style-custom"
                              formControlName="dob"
                              [min]="minDate"
                              [max]="maxDate"
                              [matDatepicker]="basicDatepicker"
                              placeholder="Pick your date of birth"
                            />
                            <mat-datepicker-toggle [for]="basicDatepicker"
                              ><mat-icon
                                class="pinkish"
                                matDatepickerToggleIcon
                              >
                                date_range
                              </mat-icon></mat-datepicker-toggle
                            >
                            <mat-datepicker #basicDatepicker></mat-datepicker>
                            <mat-error
                              *ngIf="dob?.hasError('matDatepickerParse')"
                            >
                              Please pick a valid date.
                            </mat-error>
                            <mat-error
                              *ngIf="dob?.hasError('matDatepickerMin')"
                            >
                              Invalid minimum date.
                            </mat-error>
                            <mat-error
                              *ngIf="dob?.hasError('matDatepickerMax')"
                            >
                              Invalid maximum date.
                            </mat-error>
                            <i class="input-icon uil uil-calendar-alt"></i>
                          </div>
                          <div class="form-group mt-2">
                            <input
                              type="text"
                              formControlName="idNo"
                              class="form-style form-control"
                              placeholder="Set Id Number..."
                              autocomplete="off"
                              [ngClass]="{
                                'is-invalid':
                                  (idNo?.dirty && idNo?.errors) ||
                                  (submitted1 && idNo?.errors)
                              }"
                            />
                            <i class="input-icon uil uil-credit-card"></i>
                            <i
                              class="vericon success fas fa-check-circle fa-xs"
                              *ngIf="idNo?.dirty && !idNo?.errors"
                            ></i>

                            <div
                              class="alert-style"
                              role="alert"
                              *ngIf="
                                (idNo?.dirty && idNo?.errors) ||
                                (submitted1 && idNo?.errors)
                              "
                            >
                              <small *ngIf="idNo?.errors?.['required']">
                                Id number is required!
                              </small>
                              <small *ngIf="idNo?.errors?.['minlength']">
                                Id number must be at least 8 characters
                              </small>
                            </div>
                          </div>
                          <div class="form-group mt-2">
                            <div class="ui-dropdown">
                              <select
                                class="form-style form-control"
                                (change)="changeGender($event)"
                                formControlName="gender"
                                [ngClass]="{
                                  'is-invalid':
                                    (gender?.touched && gender?.invalid) ||
                                    (submitted1 && gender?.invalid)
                                }"
                              >
                                <option value="">Choose Gender</option>
                                <option
                                  *ngFor="let gender of genders"
                                  [ngValue]="gender"
                                  style="text-transform: capitalize"
                                >
                                  {{ gender }}
                                </option>
                              </select>
                            </div>
                            <!-- error block -->
                            <div
                              class="alert-style"
                              role="alert"
                              *ngIf="
                                (gender?.touched && gender?.invalid) ||
                                (submitted1 && gender?.invalid)
                              "
                            >
                              <small> Please choose your gender </small>
                            </div>
                            <i class="input-icon uil uil-mars"></i>
                          </div>
                          <div class="form-group">
                            <button
                              class="btn mt-3 a btn-nav"
                              (click)="validate(1)"
                            >
                              <i class="navigation uil uil-arrow-right"></i>
                            </button>
                          </div>
                          <div class="form-group">
                            <p class="mb-0 mt-4 text-center">
                              <a class="link" (click)="login()"
                                >Already have an account?</a
                              >
                            </p>
                          </div>
                        </form>
                      </div>
                      <!-- FORM 2: CONTACT INFO -->
                      <div *ngSwitchCase="2">
                        <form
                          [formGroup]="fSignup2"
                          (ngSubmit)="fSignup2.valid && nextPage(2)"
                        >
                          <h5 class="subtitle">Contact details</h5>
                          <div class="form-group mt-2">
                            <input
                              type="text"
                              formControlName="username"
                              class="form-style form-control"
                              placeholder="Set username"
                              autocomplete="off"
                              [ngClass]="{
                                'is-invalid':
                                  (username?.dirty && username?.errors) ||
                                  (submitted2 && username?.errors) ||
                                  userErr
                              }"
                            />
                            <i
                              class="input-icon uil uil-google-hangouts-alt"
                            ></i>
                            <i
                              class="vericon success fas fa-check-circle fa-xs"
                              *ngIf="
                                username?.dirty && !username?.errors && !userErr
                              "
                            ></i>

                            <div
                              class="alert-style"
                              role="alert"
                              *ngIf="
                                (username?.dirty && username?.errors) ||
                                (submitted2 && username?.errors) ||
                                userErr
                              "
                            >
                              <small *ngIf="username?.errors?.['required']">
                                Username is required!
                              </small>
                              <small *ngIf="username?.errors?.['minlength']">
                                Username must be at least 3 characters
                              </small>
                              <small *ngIf="username?.errors?.['maxlength']">
                                Username must not exceed 20 characters
                              </small>
                              <small *ngIf="userErr">
                                enter a different username!
                              </small>
                            </div>
                          </div>
                          <div class="form-group mt-2">
                            <input
                              type="email"
                              formControlName="email"
                              class="form-style form-control"
                              [ngClass]="{
                                'is-invalid':
                                  (email?.dirty && email?.errors) ||
                                  (submitted2 && email?.errors) ||
                                  emailErr
                              }"
                              placeholder="Your Email"
                              autocomplete="off"
                            />
                            <i class="input-icon uil uil-at"></i>
                            <i
                              class="vericon success fas fa-check-circle fa-xs"
                              *ngIf="
                                email?.dirty &&
                                !email?.errors &&
                                !email?.invalid &&
                                !emailErr
                              "
                            ></i>

                            <div
                              class="alert-style"
                              role="alert"
                              *ngIf="
                                (email?.dirty && email?.errors) ||
                                (submitted2 && email?.errors) ||
                                emailErr
                              "
                            >
                              <small *ngIf="email?.errors?.['required']">
                                email is required!
                              </small>
                              <small *ngIf="email?.errors?.['email']">
                                email is invalid!
                              </small>
                              <small *ngIf="emailErr">
                                enter a different email!
                              </small>
                            </div>
                          </div>
                          <div class="form-group mt-2">
                            <input
                              type="text"
                              formControlName="telNo"
                              class="form-style form-control"
                              placeholder="Set phone number..."
                              autocomplete="off"
                              [ngClass]="{
                                'is-invalid':
                                  (telNo?.dirty && telNo?.errors) ||
                                  (submitted2 && telNo?.errors)
                              }"
                            />
                            <i class="input-icon uil uil-phone"></i>
                            <i
                              class="vericon success fas fa-check-circle fa-xs"
                              *ngIf="
                                telNo?.dirty &&
                                !telNo?.errors &&
                                !telNo?.invalid
                              "
                            ></i>

                            <div
                              class="alert-style"
                              role="alert"
                              *ngIf="
                                (telNo?.dirty && telNo?.errors) ||
                                (submitted2 && telNo?.errors)
                              "
                            >
                              <small *ngIf="telNo?.errors?.['required']">
                                Telephone number is required!
                              </small>
                              <small *ngIf="telNo?.errors?.['minlength']">
                                Telephone number must be at least 10 characters
                              </small>
                              <small *ngIf="telNo?.errors?.['maxlength']">
                                Telephone number must not exceed 20 characters
                              </small>
                            </div>
                          </div>
                          <div class="custom-form-row row">
                            <div class="form-group col">
                              <button
                                class="btn mt-3 a btn-nav"
                                (click)="prevPage()"
                              >
                                <i class="navigation uil uil-arrow-left"></i>
                              </button>
                            </div>
                            <div class="form-group col">
                              <button
                                class="btn mt-3 a btn-nav"
                                (click)="validate(2)"
                              >
                                <i class="navigation uil uil-arrow-right"></i>
                              </button>
                            </div>
                          </div>
                          <!-- error block -->
                          <div class="form-group">
                            <div
                              class="alert-style mt-2"
                              role="alert"
                              *ngIf="submitted2 && signupFailed"
                            >
                              <h5 class="error mt-3">
                                Registration failed: {{ signupErrorMessage }}
                              </h5>
                            </div>
                          </div>
                        </form>
                      </div>
                      <!-- FORM 3: LOCATION INFO -->
                      <div *ngSwitchCase="3">
                        <form
                          [formGroup]="fSignup3"
                          (ngSubmit)="fSignup3.valid && nextPage(3)"
                        >
                          <h5 class="subtitle">Location and password</h5>
                          <div class="form-group mt-2">
                            <input
                              type="text"
                              formControlName="area"
                              class="form-style form-control"
                              placeholder="Set job center location"
                              autocomplete="off"
                              [ngClass]="{
                                'is-invalid':
                                  (area?.dirty && area?.errors) ||
                                  (submitted3 && area?.errors)
                              }"
                            />
                            <i class="input-icon uil uil-location-point"></i>
                            <i
                              class="vericon success fas fa-check-circle fa-xs"
                              *ngIf="area?.dirty && !area?.errors"
                            ></i>

                            <div
                              class="alert-style"
                              role="alert"
                              *ngIf="
                                (area?.dirty && area?.errors) ||
                                (submitted3 && area?.errors)
                              "
                            >
                              <small *ngIf="area?.errors?.['required']">
                                Job center is required!
                              </small>
                              <small *ngIf="area?.errors?.['minlength']">
                                Job center name must be at least 3 characters
                              </small>
                              <small *ngIf="area?.errors?.['maxlength']">
                                Job center name must not exceed 20 characters
                              </small>
                            </div>
                          </div>
                          <div class="form-group mt-2">
                            <div class="ui-dropdown">
                              <select
                                class="form-style form-control"
                                (change)="changeCounty($event)"
                                formControlName="county"
                                [ngClass]="{
                                  'is-invalid':
                                    (county?.touched && county?.invalid) ||
                                    (submitted3 && county?.invalid)
                                }"
                              >
                                <option value="">Choose County</option>
                                <option
                                  *ngFor="let county of counties"
                                  [ngValue]="county"
                                  style="text-transform: capitalize"
                                >
                                  {{ county }}
                                </option>
                              </select>
                            </div>
                            <!-- error block -->
                            <div
                              class="alert-style"
                              role="alert"
                              *ngIf="
                                (county?.touched && county?.invalid) ||
                                (submitted3 && county?.invalid)
                              "
                            >
                              <small> Please choose your county </small>
                            </div>
                            <i class="input-icon uil uil-map-pin-alt"></i>
                          </div>
                          <div class="form-group mt-2">
                            <input
                              type="password"
                              formControlName="password"
                              class="form-style form-control"
                              placeholder="Set Password"
                              autocomplete="off"
                              [ngClass]="{
                                'is-invalid':
                                  (password?.dirty && password?.errors) ||
                                  (submitted3 && password?.errors)
                              }"
                            />
                            <i class="input-icon uil uil-lock-alt"></i>
                            <i
                              class="vericon success fas fa-check-circle fa-xs"
                              *ngIf="password?.dirty && !password?.errors"
                            ></i>

                            <div
                              class="alert-style"
                              role="alert"
                              *ngIf="
                                (password?.dirty && password?.errors) ||
                                (submitted3 && password?.errors)
                              "
                            >
                              <small *ngIf="password?.errors?.['required']">
                                Password is required!
                              </small>
                              <small *ngIf="password?.errors?.['minlength']">
                                Password must be at least 6 characters
                              </small>
                              <small *ngIf="password?.errors?.['maxlength']">
                                Password must not exceed 20 characters
                              </small>
                            </div>
                          </div>
                          <div class="form-group mt-2">
                            <input
                              type="password"
                              formControlName="confirmPassword"
                              class="form-style form-control"
                              placeholder="Confirm Password"
                              autocomplete="off"
                              [ngClass]="{
                                'is-invalid':
                                  (confirmPassword?.dirty &&
                                    confirmPassword?.errors) ||
                                  (submitted3 && confirmPassword?.errors)
                              }"
                            />
                            <i class="input-icon uil uil-keyboard"></i>
                            <i
                              class="vericon success fas fa-check-circle fa-xs"
                              *ngIf="
                                confirmPassword?.dirty &&
                                !confirmPassword?.errors
                              "
                            ></i>

                            <div
                              class="alert-style"
                              role="alert"
                              *ngIf="
                                (confirmPassword?.dirty &&
                                  confirmPassword?.errors) ||
                                (submitted3 && confirmPassword?.errors)
                              "
                            >
                              <small
                                *ngIf="confirmPassword?.errors?.['required']"
                              >
                                Confirm Password is required!
                              </small>
                              <small
                                *ngIf="confirmPassword?.errors?.['matching']"
                              >
                                Confirm Password does not match
                              </small>
                            </div>
                          </div>
                          <div class="custom-form-row row">
                            <div class="form-group col">
                              <button
                                class="btn mt-3 a btn-nav"
                                (click)="prevPage()"
                              >
                                <i class="navigation uil uil-arrow-left"></i>
                              </button>
                            </div>
                            <div class="form-group col">
                              <button
                                class="btn mt-3 a btn-nav"
                                (click)="validate(3)"
                              >
                                Submit
                              </button>
                            </div>
                          </div>
                          <!-- error block -->
                          <div class="form-group">
                            <div
                              class="alert-style mt-2"
                              role="alert"
                              *ngIf="submitted3 && signupFailed"
                            >
                              <h5 class="error mt-3">
                                Registration failed: {{ signupErrorMessage }}
                              </h5>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
