<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Projects</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <link
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
        rel="stylesheet"
      />
      <div class="idance">
        <div class="schedule content-block">
          <div class="container">
            <h2 data-aos="zoom-in-up" class="aos-init aos-animate">Schedule</h2>

            <div class="timetable">
              <!-- Schedule Top Navigation -->
              <nav class="nav nav-tabs">
                <button class="nav-link active" (click)="showTab('mon','tabNav1')" id="mon">
                  <a class="">Mon</a>
                </button>
                <button class="nav-link" (click)="showTab('tue','tabNav2')" id="tue">
                  <a class="">Tue</a>
                </button>
                <button class="nav-link" (click)="showTab('wed','tabNav3')" id="wed">
                  <a class="">Wed</a>
                </button>
                <button class="nav-link" (click)="showTab('thu','tabNav4')" id="thu">
                  <a class="">Thu</a>
                </button>
                <button class="nav-link" (click)="showTab('fri','tabNav5')" id="fri">
                  <a class="">Fri</a>
                </button>
                <button class="nav-link" (click)="showTab('sat','tabNav6')" id="sat">
                  <a class="">Sat</a>
                </button>
                <button class="nav-link" (click)="showTab('sun','tabNav7')" id="sun">
                  <a class="">Sun</a>
                </button>
              </nav>

              <div class="tab-content">
                <div class="tab-pane show active" id="tabNav1">
                  <div class="row">
                    <!-- Schedule Item 1 -->
                    <div class="col-md-6">
                      <div class="timetable-item">
                        <div class="timetable-item-img">
                          <img
                            src="https://via.placeholder.com/100x80/FFB6C1/000000"
                            alt="Contemporary Dance"
                          />
                        </div>
                        <div class="timetable-item-main">
                          <div class="timetable-item-time">8:00am - 1:00pm</div>
                          <div class="timetable-item-name">Fruit scout</div>
                          <a href="1" class="btn btn-outline-primary btn-book">Start</a>
                          <div class="timetable-item-like">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <div class="timetable-item-like-count">11</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Schedule Item 2 -->
                    <div class="col-md-6">
                      <div class="timetable-item">
                        <div class="timetable-item-img">
                          <img
                            src="https://via.placeholder.com/100x80/00FFFF/000000"
                            alt="Break Dance"
                          />
                        </div>
                        <div class="timetable-item-main">
                          <div class="timetable-item-time">1:00pm - 2:00pm</div>
                          <div class="timetable-item-name">Lunch Break</div>
                          <a href="#" class="btn btn-outline-primary btn-book">Start</a>
                          <div class="timetable-item-like">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <div class="timetable-item-like-count">28</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Schedule Item 3 -->
                    <div class="col-md-6">
                      <div class="timetable-item">
                        <div class="timetable-item-img">
                          <img
                            src="https://via.placeholder.com/100x80/8A2BE2/000000"
                            alt="Street Dance"
                          />
                        </div>
                        <div class="timetable-item-main">
                          <div class="timetable-item-time">2:00pm - 5:00pm</div>
                          <div class="timetable-item-name">Bee Project</div>
                          <a href="#" class="btn btn-outline-primary btn-book">Start</a>
                          <div class="timetable-item-like">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <div class="timetable-item-like-count">28</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Schedule Item 4 -->
                    <div class="col-md-6">
                      <div class="timetable-item">
                        <div class="timetable-item-img">
                          <img
                            src="https://via.placeholder.com/100x80/6495ED/000000"
                            alt="Yoga"
                          />
                        </div>
                        <div class="timetable-item-main">
                          <div class="timetable-item-time">8:00pm - 1:30am</div>
                          <div class="timetable-item-name">
                            Night shift bee project
                          </div>
                          <a href="#" class="btn btn-outline-primary btn-book">Start</a>
                          <div class="timetable-item-like">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <div class="timetable-item-like-count">23</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Schedule Item 5 -->
                    <div class="col-md-6">
                      <div class="timetable-item">
                        <div class="timetable-item-img">
                          <img
                            src="https://via.placeholder.com/100x80/00FFFF/000000"
                            alt="Stretching"
                          />
                        </div>
                        <div class="timetable-item-main">
                          <div class="timetable-item-time">1:30am - 2:00am</div>
                          <div class="timetable-item-name">
                            Night shift break
                          </div>
                          <a href="#" class="btn btn-outline-primary btn-book">Start</a>
                          <div class="timetable-item-like">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <div class="timetable-item-like-count">14</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Schedule Item 6 -->
                    <div class="col-md-6">
                      <div class="timetable-item">
                        <div class="timetable-item-img">
                          <img
                            src="https://via.placeholder.com/100x80/008B8B/000000"
                            alt="Street Dance"
                          />
                        </div>
                        <div class="timetable-item-main">
                          <div class="timetable-item-time">2:00am - 5:00am</div>
                          <div class="timetable-item-name">
                            Night shift fruit scout
                          </div>
                          <a href="#" class="btn btn-outline-primary btn-book">Start</a>
                          <div class="timetable-item-like">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <div class="timetable-item-like-count">9</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane show" id="tabNav2">
                  <div class="row">
                    <!-- Schedule Item 1 -->
                    <div class="col-md-6">
                      <div class="timetable-item">
                        <div class="timetable-item-img">
                          <img
                            src="https://via.placeholder.com/100x80/FFB6C1/000000"
                            alt="Contemporary Dance"
                          />
                        </div>
                        <div class="timetable-item-main">
                          <div class="timetable-item-time">8:00am - 1:00pm</div>
                          <div class="timetable-item-name">Fruit scout</div>
                          <a href="#" class="btn btn-outline-primary btn-book">Start</a>
                          <div class="timetable-item-like">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <div class="timetable-item-like-count">11</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Schedule Item 2 -->
                    <div class="col-md-6">
                      <div class="timetable-item">
                        <div class="timetable-item-img">
                          <img
                            src="https://via.placeholder.com/100x80/00FFFF/000000"
                            alt="Break Dance"
                          />
                        </div>
                        <div class="timetable-item-main">
                          <div class="timetable-item-time">1:00pm - 2:00pm</div>
                          <div class="timetable-item-name">Lunch Break</div>
                          <a href="#" class="btn btn-outline-primary btn-book">Start</a>
                          <div class="timetable-item-like">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <div class="timetable-item-like-count">28</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane show" id="tabNav3">
                  <div class="row">
                    <!-- Schedule Item 3 -->
                    <div class="col-md-6">
                      <div class="timetable-item">
                        <div class="timetable-item-img">
                          <img
                            src="https://via.placeholder.com/100x80/8A2BE2/000000"
                            alt="Street Dance"
                          />
                        </div>
                        <div class="timetable-item-main">
                          <div class="timetable-item-time">2:00pm - 5:00pm</div>
                          <div class="timetable-item-name">Bee Project</div>
                          <a href="#" class="btn btn-outline-primary btn-book">Start</a>
                          <div class="timetable-item-like">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <div class="timetable-item-like-count">28</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Schedule Item 4 -->
                    <div class="col-md-6">
                      <div class="timetable-item">
                        <div class="timetable-item-img">
                          <img
                            src="https://via.placeholder.com/100x80/6495ED/000000"
                            alt="Yoga"
                          />
                        </div>
                        <div class="timetable-item-main">
                          <div class="timetable-item-time">8:00pm - 1:30am</div>
                          <div class="timetable-item-name">
                            Night shift bee project
                          </div>
                          <a href="#" class="btn btn-outline-primary btn-book">Start</a>
                          <div class="timetable-item-like">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <div class="timetable-item-like-count">23</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane show" id="tabNav4">
                  <div class="row">
                    <!-- Schedule Item 5 -->
                    <div class="col-md-6">
                      <div class="timetable-item">
                        <div class="timetable-item-img">
                          <img
                            src="https://via.placeholder.com/100x80/00FFFF/000000"
                            alt="Stretching"
                          />
                        </div>
                        <div class="timetable-item-main">
                          <div class="timetable-item-time">1:30am - 2:00am</div>
                          <div class="timetable-item-name">
                            Night shift break
                          </div>
                          <a href="#" class="btn btn-outline-primary btn-book">Start</a>
                          <div class="timetable-item-like">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <div class="timetable-item-like-count">14</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Schedule Item 6 -->
                    <div class="col-md-6">
                      <div class="timetable-item">
                        <div class="timetable-item-img">
                          <img
                            src="https://via.placeholder.com/100x80/008B8B/000000"
                            alt="Street Dance"
                          />
                        </div>
                        <div class="timetable-item-main">
                          <div class="timetable-item-time">2:00am - 5:00am</div>
                          <div class="timetable-item-name">
                            Night shift fruit scout
                          </div>
                          <a href="#" class="btn btn-outline-primary btn-book">Start</a>
                          <div class="timetable-item-like">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <div class="timetable-item-like-count">9</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane show" id="tabNav5">
                  <div class="row">
                    <!-- Schedule Item 5 -->
                    <div class="col-md-6">
                      <div class="timetable-item">
                        <div class="timetable-item-img">
                          <img
                            src="https://via.placeholder.com/100x80/00FFFF/000000"
                            alt="Stretching"
                          />
                        </div>
                        <div class="timetable-item-main">
                          <div class="timetable-item-time">1:30am - 2:00am</div>
                          <div class="timetable-item-name">
                            Night shift break
                          </div>
                          <a href="#" class="btn btn-outline-primary btn-book">Start</a>
                          <div class="timetable-item-like">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <div class="timetable-item-like-count">14</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Schedule Item 6 -->
                    <div class="col-md-6">
                      <div class="timetable-item">
                        <div class="timetable-item-img">
                          <img
                            src="https://via.placeholder.com/100x80/008B8B/000000"
                            alt="Street Dance"
                          />
                        </div>
                        <div class="timetable-item-main">
                          <div class="timetable-item-time">2:00am - 5:00am</div>
                          <div class="timetable-item-name">
                            Night shift fruit scout
                          </div>
                          <a href="#" class="btn btn-outline-primary btn-book">Start</a>
                          <div class="timetable-item-like">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <div class="timetable-item-like-count">9</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane show" id="tabNav6">
                  <div class="row">
                    <!-- Schedule Item 5 -->
                    <div class="col-md-6">
                      <div class="timetable-item">
                        <div class="timetable-item-img">
                          <img
                            src="https://via.placeholder.com/100x80/00FFFF/000000"
                            alt="Stretching"
                          />
                        </div>
                        <div class="timetable-item-main">
                          <div class="timetable-item-time">1:30am - 2:00am</div>
                          <div class="timetable-item-name">
                            Night shift break
                          </div>
                          <a href="#" class="btn btn-outline-primary btn-book">Start</a>
                          <div class="timetable-item-like">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <div class="timetable-item-like-count">14</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Schedule Item 6 -->
                    <div class="col-md-6">
                      <div class="timetable-item">
                        <div class="timetable-item-img">
                          <img
                            src="https://via.placeholder.com/100x80/008B8B/000000"
                            alt="Street Dance"
                          />
                        </div>
                        <div class="timetable-item-main">
                          <div class="timetable-item-time">2:00am - 5:00am</div>
                          <div class="timetable-item-name">
                            Night shift fruit scout
                          </div>
                          <a href="#" class="btn btn-outline-primary btn-book">Start</a>
                          <div class="timetable-item-like">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <div class="timetable-item-like-count">9</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane show" id="tabNav7">
                  <div class="row">
                    <!-- Schedule Item 1 -->
                    <div class="col-md-6">
                      <div class="timetable-item">
                        <div class="timetable-item-img">
                          <img
                            src="https://via.placeholder.com/100x80/FFB6C1/000000"
                            alt="Contemporary Dance"
                          />
                        </div>
                        <div class="timetable-item-main">
                          <div class="timetable-item-time">8:00am - 1:00pm</div>
                          <div class="timetable-item-name">Fruit scout</div>
                          <a href="#" class="btn btn-outline-primary btn-book">Start</a>
                          <div class="timetable-item-like">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <div class="timetable-item-like-count">11</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Schedule Item 2 -->
                    <div class="col-md-6">
                      <div class="timetable-item">
                        <div class="timetable-item-img">
                          <img
                            src="https://via.placeholder.com/100x80/00FFFF/000000"
                            alt="Break Dance"
                          />
                        </div>
                        <div class="timetable-item-main">
                          <div class="timetable-item-time">1:00pm - 2:00pm</div>
                          <div class="timetable-item-name">Lunch Break</div>
                          <a href="#" class="btn btn-outline-primary btn-book">Start</a>
                          <div class="timetable-item-like">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <div class="timetable-item-like-count">28</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-outline-primary" (click)="getLists()">Test API</button>
    </div>
  </div>
</div>

<!-- <script src="tasknav.js" type="text/javascript"></script> -->
<!-- <p>projects working</p> -->
