.teams-container {
  display: flex;
  width: 100%;
  height: 100%;
  //max-width: 1280px;
  max-width: 100rem;
  //max-height: calc(100vh - 100px);
  // max-height: calc(90vh - 170px);
  // max-height: 500px;
  background: transparent;
}
.headericon {
  height: 150px;
  width: 1300px;
  align-items: center;
}

.teams {
  display: flex;
  flex-direction: column;
  width: 100rem;
  //background: grey;
  background: transparent;
  padding: 24px;
  border-radius: 2px;

  mat-divider {
    border-color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .teams-inside {
    overflow-x: 1000px;
    display: flex-start;
    // .btn {
    //   width: 23rem;
    //   margin-bottom: 10px;
    // }
    .card {
      width: auto;
      .card {
        margin-left: 6px;
      }
      .data-name:hover {
        scale: 1.2;
      }
      .list-container {
        max-height: 340px; /* Set the desired height for the scrollable list */
        overflow-y: auto; /* Add vertical scrollbar when needed */
      }
    }
  }
}
.container {
  display: flex;
  width: 100%;
  // height: 100%;
  max-width: 900px;
  max-height: calc(90vh - 170px);
  background: white;
}
.teams-container {
  display: flex;
  width: 100%;
  // height: 100%;
  max-width: 100rem;
  max-height: calc(90vh - 170px);
  background: white;

  .card {
    &:hover {
      cursor: pointer;
      border-color: #22b8f0;
      // border-width: 2px;
    }

    &-active {
      color: white;
      background: linear-gradient(
        90deg,
        rgba(26, 167, 236, 1) 0%,
        rgba(26, 167, 236, 1) 35%,
        rgba(13, 151, 251, 1) 100%
      );

      .card-text {
        color: rgb(47, 255, 75);
      }
      .num {
        color: rgb(255, 238, 0);
      }
    }
  }

  .row {
    display: flex;
    border-style: none;
    border-width: 1px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  .num {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .card-text {
    display: flex;
    justify-items: end;
    color: green;
  }
}

.active {
  color: #027a34;
  font-weight: 600;
  font-size: 12px;
}
.break {
  color: #ac1100;
}
