<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Teams page</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="centered-content">
        <div class="teams-container">
          <div class="teams">
            <div class="row">
              <div class="col">
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  routerLink="/supervise"
                >
                  Back
                </button>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="teams-inside">
              <div class="row">
                <div class="col-3">
                  <div class="w-75 mb-2">
                    <button type="button" class="btn btn-primary">
                      Add Team Member
                    </button>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <h1 class="text-center">Active members</h1>
                    </div>
                    <div
                      class="list-container overflow-y-scroll h-full"
                      style="max-height: calc(100vh - 600px)"
                    >
                      <ul class="list-group list-group-flush">
                        <li
                          class="list-group-item"
                          *ngFor="let member of members"
                        >
                          <div class="flex gap-2">
                            <div
                              class="position-absolute translate-middle p-2 bg-success border border-light rounded-circle"
                            >
                              <span class="visually-hidden">New alerts</span>
                            </div>
                            <h2>Hope Mumbi</h2>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div
                  class="col-9 h-full overflow-auto"
                  style="max-height: calc(100vh - 400px)"
                >
                  <div class="card overflow-y-auto" style="width: auto">
                    <div class="card-header">
                      <div class="row">
                        <div class="col">
                          <h2
                            data-aos="zoom-in-up"
                            class="col aos-init aos-animate"
                          >
                            {{ teamName
                            }}<i class="fa-solid fa-people-group"></i>
                          </h2>
                        </div>
                        <div class="col-3">
                          <button
                            type="button"
                            class="btn btn-success"
                            routerLink="/supervise/earnings"
                          >
                            Earnings
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="teams-container">
                        <div class="container">
                          <!-- Tab Selections -->
                          <div class="row row-cols-4">
                            <div class="col-sm-3">
                              <div
                                class="card card-active"
                                id="tab1"
                                (click)="showTab('tab1')"
                              >
                                <div class="card-body">
                                  <h2 class="card-title">Team Members</h2>
                                  <div class="d-flex">
                                    <div class="num px-2">
                                      <p>{{ teamMembersLength }}</p>
                                    </div>
                                    <div>
                                      <h4 class="card-text">active : []</h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div
                                class="card"
                                id="tab2"
                                (click)="showTab('tab2')"
                              >
                                <div class="card-body">
                                  <h2 class="card-title">Team Projects</h2>
                                  <div class="d-flex">
                                    <div class="num px-2">
                                      <p>{{ teamProjectsLength }}</p>
                                    </div>
                                    <div>
                                      <h4 class="card-text">active : []</h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div
                                class="card"
                                id="tab3"
                                (click)="showTab('tab3')"
                              >
                                <div class="card-body">
                                  <h2 class="card-title">Earnings</h2>
                                  <h1 class="card-text">Ksh 4,000,000</h1>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="teams-container overflow-auto">
                        <div class="container h-full">
                          <div class="row p-3">
                            <div class="container-table p-3 border rounded">
                              <!-- TAB 1 -->
                              <div
                                *ngIf="tabStates['tab1']"
                                class="h-[400px] overflow-scroll"
                              >
                                tab 1
                              </div>
                              <!-- TAB 2 -->
                              <div
                                *ngIf="tabStates['tab2']"
                                class="h-full overflow-auto"
                              >
                                <div class="row mt-3">
                                  <h1 class="card-text">Projects:</h1>
                                </div>
                                <a
                                  class="btn btn-primary m-2"
                                  style="width: 7rem"
                                  >add Project</a
                                >

                                <div
                                  class="row-project d-flex flex-row justify-content-start"
                                >
                                  <div
                                    class="grid grid-cols-4 grid-flow-row gap-4"
                                  >
                                    <div
                                      class="card text-black bg-white mb-3"
                                      style="
                                        width: 10rem;
                                        height: 13rem;
                                        box-shadow: 2px 2px 2px 1px
                                          rgba(0, 0, 0, 0.2);
                                      "
                                      *ngFor="let Project of projects"
                                    >
                                      <div
                                        class="card-body px-4 flex flex-col justify-around"
                                      >
                                        <h2 class="text-center">Project 1</h2>
                                        <div
                                          class="flex flex-col text-base space-y-4"
                                        >
                                          <div>
                                            <i class="uil uil-users-alt"></i
                                            >Teams
                                          </div>
                                          <div>
                                            <i class="uil uil-server"></i
                                            >Status:
                                          </div>
                                        </div>
                                        <button
                                          class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-red-600 shadow-lg shadow-blue-500/50"
                                        >
                                          Remove
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- TAB 3 -->
                              <div
                                *ngIf="tabStates['tab3']"
                                class="h-[400px] overflow-scroll"
                              >
                                tab 3
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
