<mat-toolbar>
  <mat-toolbar-row class="justify-content-between">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="row mr-2 ml-auto">
      <ul>
        <li>
          <div class="user mt-2 d-flex align-items-center help">
            <div class="icons">
              <i
                class="uil uil-github"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Click to open repository"
                (click)="goToLink('https://github.com/joe052')"
              >
              </i>
              <i
                class="uil uil-question-circle"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Click to view guide"
                (click)="
                  goToLink(
                    'https://chartreuse-flame-068.notion.site/Africa-AI-Project-2c6684b2a4dc457da01950e19ebb22e2'
                  )
                "
              ></i>
            </div>
            <button mat-button [matMenuTriggerFor]="menu" class="">
              <img
                src="../../assets/username.png"
                alt=""
                class="user-image mr-1 p-2"
              />
              {{ username }}
              <mat-icon class="user-image-icon ml-1"
                >keyboard_arrow_down</mat-icon
              >
            </button>
            <mat-menu #menu="matMenu" backdropClass="customize">
              <button mat-menu-item routerLink="/profile">
                <mat-icon>account_circle</mat-icon>
                Profile
              </button>
              <button mat-menu-item (click)="logger()">
                <mat-icon>exit_to_app</mat-icon>
                Logout
              </button>
            </mat-menu>
          </div>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
