<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Your Team Sessions</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="centered-content">
        <div class="manage-container">
          <div class="manage">
            <div class="row">
              <div class="col">
                <h1 class="text-dark position-relative">
                  {{ projectName }} <i class="fa-regular fa-folder-open"></i>
                  <span
                    class="position-absolute top-0 start-99 translate-middle badge rounded-pill badge-danger count"
                  >
                    {{ totalSessions }}
                  </span>
                </h1>
              </div>
              <div class="col"></div>
              <div class="col">
                <div class="view">
                  <button
                    class="btn btn-primary centered-content"
                    routerLink="/projects"
                  >
                    <i class="fa-regular fa-folder-open"></i>
                  </button>
                </div>
              </div>
              <mat-divider></mat-divider>

              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">JANUARY</button>
                <button type="button" class="btn btn-secondary">
                  FEBRUARY
                </button>
                <button type="button" class="btn btn-secondary">MARCH</button>
                <button type="button" class="btn btn-secondary">APRIL</button>
                <button type="button" class="btn btn-secondary">MAY</button>
                <button type="button" class="btn btn-secondary">JUNE</button>
                <button type="button" class="btn btn-secondary">JULY</button>
                <button type="button" class="btn btn-secondary">AUGUST</button>
                <button type="button" class="btn btn-secondary">
                  SEPTEMBER
                </button>
                <button type="button" class="btn btn-secondary">OCTOBER</button>
                <button type="button" class="btn btn-secondary">
                  NOVEMBER
                </button>
                <button type="button" class="btn btn-secondary">
                  DECEMBER
                </button>
              </div>
              <div>
                <select
                  [(ngModel)]="selectedOption"
                  (ngModelChange)="onSelectedOption($event)"
                >
                  <option
                    *ngFor="let option of dropDownOptions"
                    [value]="option"
                  >
                    {{ option }}
                  </option>
                </select>
                <div>
                  <div class="container">
                    <mat-card class="mat-elevation-z8 shadow">
                      <mat-card-content>
                        <form>
                          <b>Search Records :</b> &nbsp;&nbsp;
                          <mat-form-field>
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilter($event)" />
                          </mat-form-field>
                          <div>
                            <!-- TABLE BEGINS HERE-->
                            <mat-table
                              [dataSource]="dataSource"
                              matSort
                              class="mat-elevation-z8"
                              style="
                                box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
                                  0 6px 10px 0 rgba(0, 0, 0, 0.14),
                                  0 1px 18px 0 rgba(0, 0, 0, 0.12);
                              "
                            >
                              <!-- Position Column -->
                              <ng-container matColumnDef="Position" class="">
                                <mat-header-cell
                                  *matHeaderCellDef
                                  mat-sort-header
                                >
                                  #
                                </mat-header-cell>
                                <mat-cell *matCellDef="let document">
                                  <div class="bold">
                                    {{ document.position }}
                                  </div>
                                </mat-cell>
                              </ng-container>
                              <!-- Username Column -->
                              <ng-container matColumnDef="Username" class="">
                                <mat-header-cell
                                  *matHeaderCellDef
                                  mat-sort-header
                                >
                                  Username
                                </mat-header-cell>
                                <mat-cell *matCellDef="let document">
                                  {{ document.username }}
                                </mat-cell>
                              </ng-container>
                              <!-- ProjectName Column -->
                              <ng-container matColumnDef="ProjectName" class="">
                                <mat-header-cell
                                  *matHeaderCellDef
                                  mat-sort-header
                                >
                                  Project name
                                </mat-header-cell>
                                <mat-cell *matCellDef="let document">
                                  {{ document.projectName }}
                                </mat-cell>
                              </ng-container>
                              <!-- TeamName Column -->
                              <ng-container matColumnDef="TeamName" class="">
                                <mat-header-cell
                                  *matHeaderCellDef
                                  mat-sort-header
                                >
                                  Team name
                                </mat-header-cell>
                                <mat-cell *matCellDef="let document">
                                  {{ document.teamName }}
                                </mat-cell>
                              </ng-container>
                              <!-- Status Column -->
                              <ng-container matColumnDef="Status" class="">
                                <mat-header-cell
                                  *matHeaderCellDef
                                  mat-sort-header
                                >
                                  Status
                                </mat-header-cell>
                                <mat-cell *matCellDef="let document">
                                  <div
                                    *ngIf="document.status != 'finished'"
                                    class="col-sm"
                                    [ngClass]="
                                      document.status === 'running'
                                        ? 'running'
                                        : 'paused'
                                    "
                                  >
                                    {{ document.status }}
                                  </div>
                                  <div
                                    *ngIf="document.status === 'finished'"
                                    class="col-sm default"
                                  >
                                    {{ document.status }}
                                  </div>
                                </mat-cell>
                              </ng-container>
                              <!-- NewDuration Column -->
                              <ng-container matColumnDef="NewDuration" class="">
                                <mat-header-cell
                                  *matHeaderCellDef
                                  mat-sort-header
                                >
                                  Duration
                                </mat-header-cell>
                                <mat-cell *matCellDef="let document">
                                  {{ document.newDuration }}
                                </mat-cell>
                              </ng-container>
                              <!-- StartTime Column -->
                              <ng-container matColumnDef="StartTime" class="">
                                <mat-header-cell
                                  *matHeaderCellDef
                                  mat-sort-header
                                >
                                  Started
                                </mat-header-cell>
                                <mat-cell *matCellDef="let document">
                                  {{ document.startTime }}
                                </mat-cell>
                              </ng-container>
                              <!-- FinishTime Column -->
                              <ng-container matColumnDef="FinishTime" class="">
                                <mat-header-cell
                                  *matHeaderCellDef
                                  mat-sort-header
                                >
                                  Finished
                                </mat-header-cell>
                                <mat-cell *matCellDef="let document">
                                  {{ document.finishTime }}
                                </mat-cell>
                              </ng-container>
                              <mat-header-row
                                *matHeaderRowDef="displayedColumns"
                              ></mat-header-row>
                              <mat-row
                                *matRowDef="let row; columns: displayedColumns"
                              ></mat-row>
                              <!-- <div class="centered notify" *matNoDataRow>
                                  <i class="fa-solid fa-circle-exclamation me-2"></i>
                                  <div>No projects available at the moment</div>
                                </div> -->
                            </mat-table>
                            <mat-paginator
                              [pageSizeOptions]="[10, 25, 50]"
                            ></mat-paginator>
                          </div>
                        </form>
                      </mat-card-content>
                    </mat-card>
                  </div>
                  <!-- BACK BUTTON -->
                  <div class="row centered create">
                    <div class="col-md-1">
                      <button
                        class="btn btn-outline-custom"
                        routerLink="/supervise"
                      >
                        <div class="btn-txt">
                          <i class="fa-solid fa-caret-left"></i>
                        </div>
                      </button>
                    </div>
                    <div class="col"><h4>back</h4></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
