/*IMPORTING CSS USED IN ADMIN PROJECT-INFO COMPONENT*/
@use "../../../admin/adprojects/ad-project-info/ad-project-info.component.scss";
.modal-box{
   
   .dropdown{
    //background: grey;
    align-items: flex-end;
    padding: 10px;
    //margin-right: 0;
    display: flex;
    flex-direction: column;

    button{
       // padding: 5px;
        margin-top: 5px;
        width: 50%;
        left: 0;
    }
   }
}