<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Teams page</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="centered-content">
        <div class="teams-container">
          <div class="teams">
            <!--  <div class="col-1">
                  <h1>
                    <button
                      type="button"
                      class="btn btn-outline-primary"
                      (click)="goBack()"
                    >
                      Back
                    </button>
                  </h1>
                </div>
                <div class="col"><h1>Choose and Create new Teams</h1></div>
                <div class="col-3">
                  <button type="button" class="btn btn-outline-primary me-2">
                    Create Team
                  </button>
                  <button type="button" class="btn btn-primary">
                    Add Project
                  </button>
                </div>
              </div> -->
            <div class="row">
              <div class="col">
              <button
                      type="button"
                      class="btn btn-outline-primary"
                      
                    >
                      Back
                    </button>
                  </div>
<!--                   <div class="col">
              <div class="wrapperHeader">
                <div class="header">
                  <img
                    class="headerIcon"
                    src="../../../../../../assets/images/header.jpg"
                    alt=""
                  />
                </div>
              </div>
            </div> -->
          </div>

            <mat-divider></mat-divider>

            <div class="teams-inside">
              <div class="row">
                <div class="col-3">
                  <button type="button" class="btn btn-primary">
                    Add Project
                  </button>
                  <div class="card text-center">
                    <div class="card-header">Featured</div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                  </div>
                </div>
                <div class="col-9">
                  <div class="card text-center" style="width: auto;">
                    <div class="card-header">Featured</div>
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to
                        additional content.
                      </p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer text-muted">2 days ago</div>
                  </div>
                  <!--                   <div class="col-9">
                    <div class="card text-center" style="width: 60rem ;">
                      <div class="card-body">
                        <div class="card-header">This is some text within a card body.</div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>

              <!--               <div class="teams-inside">
                <div class="row">
                  <h2>Your Teams</h2>
                  <div class="card" style="width: 13rem; height: 15rem">
                    <img class="card-img-top" src="..." alt="" />
                    <div class="card-body">
                      <h3 class="card-title">Card title</h3>
                      <a href="/teams_page" class="btn btn-primary">New Team</a>
                    </div>
                  </div>
                  <div
                    class="card"
                    *ngFor="let team of teams"
                    style="width: 13rem; height: 15rem"
                  >
                    <img class="card-img-top" src="..." alt="Card image cap" />
                    <div class="card-body">
                      <h3 class="card-title">Four</h3>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
