<div class="container-fluid page">
  <div class="page__box p-3 mt-2">supervise</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="centered-content">
        <div class="teams-container">
          <div class="teams">
            <div class="row">
              <div class="col">
                <h1>My Teams Data</h1>
                <!-- <button
                  type="button"
                  class="btn btn-outline-primary"
                  routerLink="/supervise_teams"
                >
                  Back
                </button> -->
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="card-body">
              <div class="row d-flex justify-content-center">
                <div class="col-3">
                  <h2 class="data-name">
                    <div class="label pointer">My Teams</div>
                    <h1>{{ supTeamCount }}</h1>
                    <span class="text-success mr-2"><h3>90% active</h3></span>
                  </h2>
                </div>
                <div class="col-3">
                  <h2 class="data-name">
                    <div class="label pointer">Active projects</div>
                    <h1>{{ supProjectCount }}</h1>
                    <span class="text-success mr-2"><h3>60% done</h3></span>
                  </h2>
                </div>
                <div class="col-3">
                  <h2 class="data-name">
                    <div class="label pointer">Team Earnings</div>
                    <h1>200$</h1>
                    <span class="text-danger mr-2"><h3>-20%</h3></span>
                  </h2>
                </div>
                <div class="col-3">
                  <h2 class="data-name">
                    <div class="label pointer">Team Sessions</div>
                    <h1>TOTAL</h1>
                    <span class="text-danger mr-2"><h3>20:00:04</h3></span>
                  </h2>
                </div>
              </div>
            </div>

            <div class="teams-inside">
              <div class="row">
                <h2>Your Teams</h2>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card shadow-xl"
                  style="
                    width: 13rem;
                    height: 15rem;
                    background-color: white;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                  "
                >
                  <!-- <img class="card-img-top" src="..." alt="" /> -->
                  <div class="card-body flex flex-col justify-around space-y-4">
                    <div class="flex justify-around">
                      <h3 style="font-weight: bold">Team Title</h3>
                      <!-- <i class="fa-solid fa-users-line text-base"></i> -->
                    </div>
                    <!-- <a class="btn btn-primary">New Team</a> -->
                    <div class="flex flex-col text-base">
                      <div><i class="uil uil-users-alt"></i>members:</div>
                      <div><i class="uil uil-folder-open"></i>projects:</div>
                      <div><i class="uil uil-server"></i> Status:</div>
                    </div>
                    <button
                      class="ml-auto text-sm text-white p-1 rounded-lg px-2 bg-blue-500 shadow-lg shadow-blue-500/50"
                    >
                      Edit
                    </button>
                  </div>
                </div>
                <div
                  class="card"
                  *ngFor="let team of teams"
                  style="width: 13rem; height: 15rem"
                >
                  <!-- <img class="card-img-top" src="..." alt="Card image cap" /> -->
                  <div class="card-body pointer" routerLink="/supervise/team">
                    <h3 class="card-title">{{ team.teamName }}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
