<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Teams</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="centered-content">
        <div class="projects-container">
          <div class="projects">
            <div class="row">
              <div class="col-2">
                <h1 class="text-dark position-relative">
                  teams <i class="fa-solid fa-people-group"></i>
                  <span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger count"
                  >
                    {{ teamsLength }}
                  </span>
                </h1>
              </div>
              <div class="col"></div>
              <div class="col">
                <div class="input-group rounded search-bar">
                  <input
                    type="search"
                    class="form-control rounded shadow"
                    placeholder="enter team name to search ..."
                    aria-label="Search"
                    aria-describedby="search-addon"
                    [(ngModel)]="searchText"
                    autofocus
                  />
                  <span class="border-0 filter-icon" id="search-addon">
                    <i class="uil uil-filter"></i>
                  </span>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="projects-inside" id="teams">
              <div class="row">
                <!-- item 1 -->
                <!-- [routerLink]="['/ad_projects', project._id]" routerLink="/edit_project"  -->
                <div
                  class="col-md-6"
                  *ngFor="let team of teams | teamFilter : searchText"
                >
                  <div class="timetable-item shadow pointer">
                    <div class="timetable-item-main">
                      <div
                        (click)="captureTeamId(team._id)"
                        [routerLink]="['/sup_teams', team._id]"
                        class="timetable-item-name"
                      >
                        {{ team.teamName }}
                      </div>
                      <div class="timetable-item-time">
                        <div class="col">
                          <div class="row">
                            <small
                              ><i class="uil uil-users-alt"></i>members:
                              {{ team.members }}
                            </small>
                          </div>
                          <div class="row">
                            <small
                              ><i class="uil uil-folder-open"></i>projects:
                              {{ team.projects }}
                            </small>
                          </div>
                          <div class="row">
                            <small
                              ><i class="uil uil-server"></i>status:
                              <!-- <span>active</span> -->
                              <span
                                [ngClass]="
                                  team.status === 'Active' ? 'active' : 'break'
                                "
                                >{{ team.status }}</span
                              >
                            </small>
                          </div>
                        </div>
                      </div>
                      <div class="timetable-item-users">
                        <i class="fa-solid fa-users-line"></i>
                        <div class="timetable-item-users-count">
                          {{ team.members }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- div to display when empty-->
                <div class="empty" *ngIf="teamsLength === 0">
                  <div class="no-content centered">
                    <img id="" src="../assets/images/not-found.png" alt="" />
                    <h1>Teams unavailable at the moment :)</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
