<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Projects</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="centered-content">
        <div class="projects-container">
          <div class="sidebar">
            <h1 class="text-dark">projects</h1>
            <div class="row">
              <!-- item 1 -->
              <div class="col-md-6">
                <div class="timetable-item shadow">
                  <div class="timetable-item-main">
                    <div class="timetable-item-name">Fruit scout</div>
                    <div class="timetable-item-time">
                      <small>Last updated 3 mins ago</small>
                    </div>                    
                    <div class="col-sm action">
                      <div class="row">
                        <button
                          type="button"
                          class="col btn btn-outline-dark btn-sm me-2"
                        >
                        <i class="fa-solid fa-pen-fancy"></i>
                        
                        </button>
                        <button
                          type="button"
                          class="col btn btn-outline-danger btn-sm"
                        >
                        <i class="fa-solid fa-trash-can"></i>
                      
                        </button>
                      </div>
                    </div>

                    <div class="timetable-item-like">
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                      <i class="fa fa-heart" aria-hidden="true"></i>
                      <div class="timetable-item-like-count">11</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- item 2 -->
              <div class="col-md-6">
                <div class="timetable-item shadow">
                  <div class="timetable-item-main">
                    <div class="timetable-item-name">Fruit scout</div>
                    <div class="timetable-item-time">
                      <small>Last updated 3 mins ago</small>
                    </div>                    
                    <div class="col-sm action">
                      <div class="row">
                        <button
                          type="button"
                          class="col btn btn-outline-dark btn-sm me-2"
                        >
                        <i class="fa-solid fa-pen-fancy"></i>
                        
                        </button>
                        <button
                          type="button"
                          class="col btn btn-outline-danger btn-sm"
                        >
                        <i class="fa-solid fa-trash-can"></i>
                      
                        </button>
                      </div>
                    </div>

                    <div class="timetable-item-like">
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                      <i class="fa fa-heart" aria-hidden="true"></i>
                      <div class="timetable-item-like-count">11</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- item 3 -->
              <div class="col-md-6">
                <div class="timetable-item shadow">
                  <div class="timetable-item-main">
                    <div class="timetable-item-name">Fruit scout</div>
                    <div class="timetable-item-time">
                      <small>Last updated 3 mins ago</small>
                    </div>                    
                    <div class="col-sm action">
                      <div class="row">
                        <button
                          type="button"
                          class="col btn btn-outline-dark btn-sm me-2"
                        >
                        <i class="fa-solid fa-pen-fancy"></i>
                        
                        </button>
                        <button
                          type="button"
                          class="col btn btn-outline-danger btn-sm"
                        >
                        <i class="fa-solid fa-trash-can"></i>
                      
                        </button>
                      </div>
                    </div>

                    <div class="timetable-item-like">
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                      <i class="fa fa-heart" aria-hidden="true"></i>
                      <div class="timetable-item-like-count">11</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- item 4 -->
              <div class="col-md-6">
                <div class="timetable-item shadow">
                  <div class="timetable-item-main">
                    <div class="timetable-item-name">Fruit scout</div>
                    <div class="timetable-item-time">
                      <small>Last updated 3 mins ago</small>
                    </div>                    
                    <div class="col-sm action">
                      <div class="row">
                        <button
                          type="button"
                          class="col btn btn-outline-dark btn-sm me-2"
                        >
                        <i class="fa-solid fa-pen-fancy"></i>
                        
                        </button>
                        <button
                          type="button"
                          class="col btn btn-outline-danger btn-sm"
                        >
                        <i class="fa-solid fa-trash-can"></i>
                      
                        </button>
                      </div>
                    </div>

                    <div class="timetable-item-like">
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                      <i class="fa fa-heart" aria-hidden="true"></i>
                      <div class="timetable-item-like-count">11</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
