/*IMPORTING CSS USED IN ADMIN PROJECT COMPONENT*/
@use "../../../admin/adprojects/ad-projects/ad-projects.component.scss";

/**Custom private styling*/
.projects {
  .projects-inside {
    .timetable-item {
      &-time {
        /**styling the status text*/
        .active {
          color: #027a34;
          font-weight: 600;
          font-size: 12px;
        }
        .break {
          color: #ac1100;
        }
        /**icon color styling*/
        i {
          color: #22b8f0;
        }
      }
    }
  }
}
