<div class="container-fluid page">
  <div class="page__box p-3 mt-2"> Projects </div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="centered-content">
        <div class="projects-container">
          <div class="projects">
            <h1 class="text-dark">my projects <i class="fa-regular fa-folder-open"></i></h1>
            <mat-divider></mat-divider>
            <div class="projects-inside" id="projects">
              <div class="row">
                <!-- item 1 -->
                <!-- [routerLink]="['/ad_projects', project._id]" routerLink="/edit_project"  -->
                <div
                  class="col-md-6"
                  *ngFor="let project of projects"
                  [routerLink]="['/projects', project._id]"              
                >
                  <div class="timetable-item shadow pointer">
                    <div class="timetable-item-main">
                      <div class="timetable-item-name">
                        {{ project.projectName }}
                      </div>
                      <div class="timetable-item-time">
                        <small>Last updated 3 mins ago</small>
                      </div>                     
                      <div class="timetable-item-users">
                        <i class="fa-solid fa-users-viewfinder"></i>
                        <div class="timetable-item-users-count">{{project.members}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- NOT BEING USED AT THE MOMENT -->
      <!-- <div class="row centered-content create">
        <div class="col-md-1">          
          <button class="btn btn-outline-custom">
            <div class="btn-txt">+</div>
          </button>
        </div>
        <div class="col"><h4>Create new project</h4></div>
      </div> -->
    </div>
  </div>
</div>
