/**IMPORTING CSS FROM MANAGE COMPONENT.SCSS*/
@use "../../manage/manage.component.scss";
/**styling when modal is opened*/
.modal-blur {
  opacity: 0.1;
}
.manage-container {
  .manage {
    .count {
      h1 {
        font-weight: 400;
        span {
          font-size: 18px;
          color: #96281b;
        }
      }
    }

    .add-button {
      // padding: 24px;
      //background: red;
      height: 100%;
      width: 100%;

      button {
        height: 75%;
        width: 75px;
        margin-bottom: 20px;
        .btn-txt {
          font-size: 20px;
          color: white;
        }
      }
      h4 {
        font-family: inherit;
        font-weight: 400;
        font-size: 16px;
        margin-left: 5%;
        top: 60px;
        position: absolute;
      }
    }

    .container {
      margin-top: 20px;

      b {
        font-size: 16px;
      }

      .custom-delete {
        background-color: #e91e63;
      }

      mat-form-field {
        //width: 50%;
        flex: 0 5px 50%; /* grow shrink basis */
      }
      mat-table {
        min-height: calc(100vh - 800px);
        max-height: calc(100vh - 500px);
        overflow-y: auto;
        // ng-container {
        //   mat-cell {
        //     button {
        //       mat-icon {
        //         font-size: 4px;
        //         height: 4px;
        //         width: 4px;
        //       }
        //     }
        //   }
        // }

        /*Styling the header*/
        mat-header-cell {
          color: #22b8f0;
        }

        .custom-button {
          // line-height: 30px;
          height: 30px;
          width: 30px;

          &-edit {
            background-color: #22b8f0;
          }

          &-delete {
            background-color: #e91e63;
          }

          mat-icon {
            position: absolute;
            font-size: 14px;
            color: white;
            top: 8px;
            right: 2px;
            // background: red;
          }
        }

        .point {
          &:hover {
            cursor: pointer;
            color: #cb0c9f;
          }
        }

        /*Styling columns*/
        .mat-column-Select {
          flex: none;
          width: 60px;
        }
        .mat-column-Email {
          flex: none;
          width: 300px;
        }
        .mat-column-Position {
          flex: none;
          width: 60px;
        }

        /*Styling status columns data*/
        .default {
          color: #ac1100;
          font-weight: 500;
        }
        .running {
          color: #027a34;
          font-weight: 500;
        }
        .paused {
          color: #bebe0a;
          font-weight: 500;
        }

        .bold {
          font-weight: 550;
        }
      }
    }

    /*Create rise effect on button*/
    .mat-raised-button {
      // background-color: #673ab7; /* Set the background color */
      // color: white; /* Set the text color */
      // padding: 10px 24px; /* Add some padding to the button */
      border: none; /* Remove the border */
      outline: none; /* Remove the outline */
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); /* Add a box shadow to give the button a raised appearance */
      transition: box-shadow 0.2s; /* Add a transition to the box shadow to smooth the effect when the button is hovered or clicked */
    }

    .mat-raised-button:hover,
    .mat-raised-button:active,
    .mat-raised-button:focus {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12); /* Increase the size of the box shadow to give the button a pressed appearance when it is hovered or focused */
    }

    .create {
      padding: 24px;
      button {
        height: 40px;
        width: 75px;
        .btn-txt {
          font-size: 20px;
        }
      }
    }

    .assign {
      button {
        // height: 35px;
        width: 80%;
        .btn-txt {
          font-size: 20px;
        }
      }
    }
  }
}

/*Styling for projects button in user sessions*/
.view {
  height: 100%;
  width: 100%;
  padding: 5px;

  button {
    // height: 75%;
    width: 25%;
    float: right;
    margin-top: 0;
    margin-bottom: 10px;
    .btn-txt {
      font-size: 20px;
      color: white;
    }
  }
  h4 {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    margin-left: 5%;
    top: 60px;
    position: absolute;
  }
}
