<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Action</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="centered-content">
        <div class="modal-box shadow">
          <h1><i class="uil uil-edit-alt"></i> Choose a reason for the break</h1>
          <mat-list>
            <mat-list-item
              ><mat-checkbox checked="true">Meal break</mat-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item
              ><mat-checkbox checked="true">Health break</mat-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item
              ><mat-checkbox checked="true">Checkbox Checked</mat-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item
              ><mat-checkbox checked="true">Other</mat-checkbox>
            </mat-list-item>
          </mat-list>
          <!-- <form
            name="form"
            (ngSubmit)="f.form.valid && createDisposition()"
            #f="ngForm"
            novalidate
          >
            <div class="input-group mb-3">
              <textarea
                #reason="ngModel"
                name="reason"
                class="form-control z-depth-1"
                required
                minlength="4"
                maxlength="200"
                id="exampleFormControlTextarea6"
                rows="3"
                [(ngModel)]="form.reason"
                placeholder="Write your reason here..."
              ></textarea>
            </div>
            <i
              class="vericon danger fas fa-exclamation-circle fa-xs"
              *ngIf="
                (reason.errors && reason.dirty) || (reason.errors && submitted)
              "
            ></i>
            <div
              class="alert-style"
              role="alert"
              *ngIf="
                (reason.errors && reason.dirty) || (reason.errors && submitted)
              "
            >
              <small *ngIf="reason.errors['required']">
                Reason is required!
              </small>
              <small *ngIf="reason.errors['minlength']">
                Reason must be at least 4 characters
              </small>
            </div>
            <div class="input-group-append row btm-rgt">
              <button
                class="btn btn-outline-secondary col me-1"
                type="button"
                [routerLink]="['/projects', projectId, 'action']"
              >
                Cancel
              </button>
              <button
                class="btn btn-custom col"
                type="submit"
                (click)="submit()"
              >
                Submit
              </button>
            </div>
          </form> -->
        </div>
      </div>
    </div>
  </div>
</div>
