<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Action</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="centered-content">
        <div class="modal-box shadow">
          <h1>
            <i class="uil uil-edit-alt"></i> Choose a reason for the break
          </h1>
          <form [formGroup]="form" (ngSubmit)="form.valid && submitForm(form)">
            <mat-list>
              <mat-radio-group
                [(ngModel)]="reason"
                [ngModelOptions]="{ standalone: true }"
              >
                <mat-list-item *ngFor="let reason of reasons"
                  ><mat-radio-button
                    [value]="reason"
                    (change)="toggleTextArea($event, form)"
                    >{{ reason }}</mat-radio-button
                  >
                  <mat-divider></mat-divider>
                </mat-list-item>
                <mat-list-item
                  ><mat-radio-button
                    [value]="form.value.other"
                    (change)="toggleTextArea($event, form)"
                    >Other</mat-radio-button
                  >
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-radio-group>
            </mat-list>
            <!-- TEXT AREA FOR OTHER REASON -->
            <mat-form-field
              *ngIf="isTextAreaOpen"
              appearance="outline"
              class="text-field"
            >
              <mat-label>Reason</mat-label>
              <textarea
                matInput
                type="text"
                placeholder="Write your reason here..."
                formControlName="other"
                #other
              ></textarea>
              <!-- <mat-icon matSuffix>account_circle</mat-icon> -->
              <!-- <mat-hint>Hint</mat-hint> -->
              <mat-error *ngIf="form.controls['other'].errors?.['required']"
                >Reason is required!</mat-error
              >
              <mat-error *ngIf="form.controls['other'].errors?.['minlength']">
                Reason must be at least 4 characters
              </mat-error>
              <mat-error *ngIf="form.controls['other'].errors?.['maxlength']">
                Reason should not exceed 50 characters
              </mat-error>
            </mat-form-field>
            <!-- ACTION BUTTONS -->
            <div class="input-group-append row btm-rgt">
              <button
                class="btn btn-outline-secondary col me-1"
                type="button"
                [routerLink]="['/projects', projectId, 'action']"
              >
                Cancel
              </button>
              <button class="btn btn-custom col" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
