<mat-sidenav-container autosize>
  <mat-sidenav
    #sidenav
    mode="side"
    opened="true"
    class="sidebar"
    [ngClass]="isExpanded ? 'sidebar-extended' : ''"
    [@openCloseSidenav]="isExpanded ? 'open' : 'closed'"
  >
    <mat-nav-list>
      <!-- <mat-list-item>
                <mat-icon mat-list-icon class="chevron-button sidenav-button" (click)="toggleCollapse()" [ngClass]="{'rotated': isExpanded}">chevron_right</mat-icon>
            </mat-list-item> -->

      <div class="logo py-4">
        <img
          src="../../../assets/tracklogo.png"
          alt="Company Logo"
          *ngIf="isExpanded"
        />
        <img
          class="logo-col"
          src="../../../assets/tracklogo.png"
          alt="Company Logo"
          *ngIf="!isExpanded"
        />
      </div>

      <mat-divider></mat-divider>

      <h2 matSubheader class="mt-3 mb-0 mat-subheader" *ngIf="isExpanded">
        Applications
      </h2>
      <h2
        matSubheader
        class="h2-col mt-2 mb-0 mat-subheader"
        *ngIf="!isExpanded"
      >
        Apps
      </h2>

      <!-- USER SECTION -->
      <!-- user home -->
      <mat-list-item [routerLink]="'home'" routerLinkActive="list-item-active">
        <div class="mat-list-item-content">
          <mat-icon mat-list-icon class="">home</mat-icon>
          <div class="content" *ngIf="isExpanded">Home</div>
        </div>
      </mat-list-item>

      <!-- user projects -->
      <mat-list-item
        [routerLink]="'projects'"
        routerLinkActive="list-item-active"
      >
        <div class="mat-list-item-content">
          <mat-icon mat-list-icon class="">dashboard</mat-icon>
          <div class="content" *ngIf="isExpanded">Projects</div>
        </div>
      </mat-list-item>

      <!-- user teams -->
      <mat-list-item [routerLink]="'teams'" routerLinkActive="list-item-active">
        <div class="mat-list-item-content">
          <mat-icon mat-list-icon>group</mat-icon>
          <div class="content" *ngIf="isExpanded">My teams</div>
        </div>
      </mat-list-item>

      <!-- user sessions -->
      <mat-list-item
        [routerLink]="'sessions'"
        routerLinkActive="list-item-active"
      >
        <div class="mat-list-item-content">
          <mat-icon mat-list-icon>timer</mat-icon>
          <div class="content" *ngIf="isExpanded">My sessions</div>
        </div>
      </mat-list-item>

      <!-- SUPERVISE SECTION -->
      <!-- admin supervise -->
      <mat-list-item
        [routerLink]="'supervise'"
        routerLinkActive="list-item-active"
        *ngIf="sublist && isSupervisor"
        ><div class="mat-list-item-content">
          <i class="fa-solid fa-binoculars"></i>
          <div class="content" *ngIf="isExpanded">Supervise</div>
        </div>
        <div
          [routerLink]="'supervise/team'"
          routerLinkActive="list-item-active"
          *ngIf="sublist"
        ></div>
      </mat-list-item>

      <!-- ADMIN SECTION -->
      <mat-list-item (click)="showSublist()" *ngIf="isAdmin">
        <div class="mat-list-item-content">
          <mat-icon mat-list-icon [ngClass]="sublist ? 'menu' : ''"
            >verified_user</mat-icon
          >
          <div
            class="content"
            *ngIf="isExpanded"
            [ngClass]="sublist ? 'menu' : ''"
          >
            Admin
          </div>
        </div>
      </mat-list-item>

      <!-- admin dashboard -->
      <mat-list-item
        [routerLink]="'ad_dashboard'"
        routerLinkActive="list-item-active"
        *ngIf="sublist && isAdmin"
        ><div class="mat-list-item-content">
          <!-- for children components -->
          <div
            [routerLink]="'ad_dashboard/project_status'"
            routerLinkActive="list-item-active"
            *ngIf="sublist"
          ></div>
          <div
            [routerLink]="'ad_dashboard/active_sessions'"
            routerLinkActive="list-item-active"
            *ngIf="sublist"
          ></div>
          <div
            [routerLink]="'ad_dashboard/recent_sessions'"
            routerLinkActive="list-item-active"
            *ngIf="sublist"
          ></div>
          <div
            [routerLink]="'ad_dashboard/user_status'"
            routerLinkActive="list-item-active"
            *ngIf="sublist"
          ></div>
          <i class="fa-solid fa-gauge-high"></i>
          <div class="content" *ngIf="isExpanded">Dashboard</div>
        </div>
      </mat-list-item>

      <!-- admin projects -->
      <mat-list-item
        [routerLink]="'ad_projects'"
        routerLinkActive="list-item-active"
        *ngIf="sublist"
        ><div class="mat-list-item-content">
          <!-- for children components -->
          <div
            [routerLink]="'new_project'"
            routerLinkActive="list-item-active"
            *ngIf="sublist"
          ></div>
          <div
            [routerLink]="'edit_project'"
            routerLinkActive="list-item-active"
            *ngIf="sublist"
          ></div>
          <div
            [routerLink]="'project_teams'"
            routerLinkActive="list-item-active"
            *ngIf="sublist && isAdmin"
          ></div>
          <i class="fa-solid fa-folder-open"></i>
          <div class="content" *ngIf="isExpanded">Projects</div>
        </div>
      </mat-list-item>

      <!-- admin teams -->
      <mat-list-item
        [routerLink]="'ad_teams'"
        routerLinkActive="list-item-active"
        *ngIf="sublist"
        ><div class="mat-list-item-content">
          <!-- for children components -->
          <div
            [routerLink]="'new_team'"
            routerLinkActive="list-item-active"
            *ngIf="sublist"
          ></div>
          <div
            [routerLink]="'edit_team'"
            routerLinkActive="list-item-active"
            *ngIf="sublist && isAdmin"
          ></div>
          <i class="fa-solid fa-people-group"></i>
          <div class="content" *ngIf="isExpanded">Teams</div>
        </div>
      </mat-list-item>

      <!-- admin management -->
      <mat-list-item
        [routerLink]="'ad_manage'"
        routerLinkActive="list-item-active"
        *ngIf="sublist && isAdmin"
        ><div class="mat-list-item-content">
          <i class="fa-solid fa-people-roof"></i>
          <div class="content" *ngIf="isExpanded">Manage</div>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content
    [@openCloseSidenavContent]="isExpanded ? 'open' : 'closed'"
  >
    <app-header
      (toggleSidebarForMe)="toggle()"
      (logout)="logout()"
      (openModal)="openUserProfileModal()"
    ></app-header>
    <div [ngClass]="isModalOpen ? 'modal-blur' : ''">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
