<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Teams and Projects</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="centered-content">
        <div class="manage-container">
          <div class="manage">
            <div class="row">
              <h1 class="text-dark">
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  (click)="goBack()"
                >
                  Back
                </button>

                Choose and Create new Teams

                <button
                  type="button"
                  class="btn btn-outline-primary"
                  style="margin-left: 30rem"
                >
                  Create Team
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  style="margin-left: 1rem"
                >
                  Add Project
                </button>
              </h1>
            </div>

            <mat-divider></mat-divider>
            <!-- <div class="row">
              <h2>Projects</h2>
              <div class="card" style="width: 13rem; height: 15rem">
                <img class="card-img-top" src="..." alt="" />
                <div class="card-body">
                  <h3 class="card-title">Card title</h3>
                  <a href="#" class="btn btn-primary">New Project</a>
                </div>
              </div>
              <div class="card" style="width: 13rem; height: 15rem">
                <img class="card-img-top" src="..." alt="Card image cap" />
                <div class="card-body">
                  <h3 class="card-title">Info-Space</h3>
                </div>
              </div> -->
            <div class="row">
              <h2>Your Teams</h2>
              <div class="card" style="width: 13rem; height: 15rem">
                <img class="card-img-top" src="..." alt="" />
                <div class="card-body">
                  <h3 class="card-title">Card title</h3>
                  <a href="#" class="btn btn-primary">New Team</a>
                </div>
              </div>
              <div class="card" style="width: 13rem; height: 15rem">
                <img class="card-img-top" src="..." alt="Card image cap" />
                <div class="card-body">
                  <h3 class="card-title">Four</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
